<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>

    <title th:text="#{menu.system.members}">untitled</title>

    <link th:href="@{/css/jsgrid-custom.min.css}" rel="stylesheet" />

</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp;<span th:text="#{menu.home}">Home</span>&nbsp;&gt;&nbsp;<span
                    th:text="#{menu.system}">Home</span>&nbsp;&gt;&nbsp;<span class="page-current-path"
                    th:text="#{menu.system.members}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{menu.system.members}">Untitled</h5>
                        <p class="card-text" id="welcomeMessage">
                            jsGrid를 사용해서 작성한 페이지, 컨트롤러 및 필드는 사용자가 얼마든지 추가 확장 할 수 있어서 쓸만하다.</p>

                        <div class="alert-info" id="selected-item"></div>
                        <div class="row">
                            <div class="col-7">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger" id="btnSelectedItems">
                                        선택레코드는?
                                    </button>
                                </div>

                            </div>
                            <div class="col-5 text-right">
                                <button class="btn btn-sm btn-secondary" id="btnAddMemberItem">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <span>추가</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="jsGrid">여기에 그리드가 표시됩니다.</div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 6px;">
                            <div class="col-8">
                                <div id="myGrid1Pager">여기에 페이지가 표시됩니다.</div>
                            </div>
                            <div class="col-4 text-right">
                                <div class="btn-group">
                                    <select id="gridPageSizeSelect">
                                        <option value="10">10</option>
                                        <option value="25">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="100000">10,000</option>
                                    </select>
                                    <button class="btn btn-sm btn-primary" id="btnExportCSV">
                                        ExportCSV
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>



    <div th:fragment="javascript">

        <script type="text/javascript" th:src="@{/app/js/env.js}"></script>
        <script type="text/javascript" th:src="@{/js/global-jsgrid-apiserver.js}"></script>

        <script type="text/javascript" th:src="@{/js/jsgrid-custom.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/i18n/jsgrid-fields.ko.js}"></script>
        <script type="text/javascript" th:if="${#locale.language eq 'ko'}">jsGrid.locale("ko");	</script>
        <script type="text/javascript" th:if="${#locale.language eq 'ja'}">jsGrid.locale("ja");	</script>
        
        <script type="text/javascript" sec:authorize="hasRole('ROLE_USER')">
            console.log(PowerTalk); 
        </script>

        <script type="text/javascript">

            $(document).ready(function () {

                var jsgridMembers = $("#jsGrid").jsGrid({
                    // width: "100%",
                    // height: "410px", 

                    paging: true, // true일 때만 onDataLoaded 호출되네..
                    sorting: true,
                    filtering: true,
                    editing: true,
                    // inserting: true,
                    pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                    // scrolling: true,
                    // deleteConfirm: "Do you really want to delete the client?",

                    // pageSize: 10,
                    // pageButtonCount: 5,
                    pagerContainer: "#myGrid1Pager",

                    // pageClass: "btn btn-sm btn-info",

                    // data: clients,
                    autoload: true, // controller 를 사용할지 여부
                    fields: jsgridFields.member,
                    onDataLoaded: function (o) {
                        // console.log(o, o.data.itemsCount);

                        // $(this).find("tr").each(function (index) {
                        //     console.log(index);
                        // });

                    },
                    rowClass: function (item, itemIndex) {
                        return itemIndex % 2 == 0 ? 'bg-dark' : 'bg-light';
                    },
                    rowClick: function (item, index, e) {
                        // console.log(e);
                    },
                    controller: {
                        // insertItem: $.noop,
                        // updateItem: $.noop,
                        // deleteItem: $.noop,
                        loadData: function (filter) {

                            return $.ajax({
                                type: "POST",
                                // url: "../api/members",
                                url: "../../api/members/jsgrid.json",
                                // url: "jsgrid.json",
                                contentType: 'application/json',
                                headers: PowerTalk.headers,
                                dataType: 'json',
                                data: JSON.stringify(filter),
                                beforeSend: function (xhr, opts) {

                                    // xhr.setRequestHeader("ApiKey", "asdfasxdfasdfasdf");
                                    // xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                                    // var params = getUrlParams(opts.url);
                                    // params.username = 'admin';
                                    // opts.data = params;
                                    // console.log(params);

                                    // filter.username = 'admin';
                                    // console.log(JSON.stringify(filter));
                                    // console.log(filter);

                                    // when validation is false
                                    if (false) {
                                        xhr.abort();
                                    }
                                },
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        updateItem: function (item) {
                            // console.log(row);
                            return $.ajax({
                                type: "PUT",
                                url: "../../api/members",
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(item),
                                beforeSend: function (xhr, opts) {
                                    console.log(JSON.stringify(item));
                                },
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        deleteItem: function (item) {
                            return $.ajax({
                                type: "DELETE",
                                contentType: 'application/json',
                                url: "../../api/members/" + item.id,
                                // dataType: 'json',
                                // data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        insertItem: function (item) {
                            return $.ajax({
                                type: "POST",
                                contentType: 'application/json',
                                url: "../../api/members",
                                dataType: 'json',
                                data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        }
                    }
                });


                // turn off filtering right after grid initialization
                // $("#jsGrid").jsGrid("option", "filtering", false);

                // function toggleFilter() {
                // $("#jsGrid").jsGrid("option", "filtering", !$("#jsGrid").jsGrid("option", "filtering"));
                // }

                // $("#grid").jsGrid("sort", { field: "id", order: "desc" });
                // jsGrid.jsGrid("sort", { field: "username", order: "asc" });

                $("#btnSelectedItems").on("click", function (args) {
                    var ids = [];
                    var selctedItems = jsgridMembers.jsGrid("getSelectedItems");
                    $(selctedItems).each(function (idx, el) {
                        ids.push(el.id);
                    });
                    $("#selected-item").text(ids);
                });

                // $("#jsGrid").contextmenu({
                //     delegate: ".jsgrid-grid-body .jsgrid-cell",
                //     menu: [
                //         { title: "Copy", cmd: "copy", uiIcon: "ui-icon-copy" },
                //         { title: "----" },
                //         {
                //             title: "More", children: [
                //                 { title: "Sub 1", cmd: "sub1" },
                //                 { title: "Sub 2", cmd: "sub1" }
                //             ]
                //         }
                //     ],
                //     select: function (event, ui) {
                //         console.log("select " + ui.cmd + " on " + ui.target.text());
                //         console.log(event, ui);
                //     }
                // });


            });
        </script>

        <script>

            $(document).ready(function () {

                // 화면에 보여주는 레코드의 갯수를 변경한다.
                var pageSize = $("#jsGrid").jsGrid("option", "pageSize");
                $("#gridPageSizeSelect").val(pageSize);
                $("#gridPageSizeSelect").on("change", function (args) {
                    $("#jsGrid").jsGrid("option", "pageSize", args.target.value);
                });

                // json 형식을 cvs로 변환해 보기
                $("#btnExportCSV").on("click", function () {
                    $("#jsGrid").jsGrid("exportCSV", "text.csv");

                    // var csv = $("#jsGrid").jsGrid("exportData", {
                    //     type: "csv", //Only CSV supported
                    //     subset: "all" | "visible", //Visible will only output the currently displayed page
                    //     delimiter: "|", //If using csv, the character to seperate fields
                    //     includeHeaders: true, //Include header row in output
                    //     encapsulate: true, //Surround each field with qoutation marks; needed for some systems
                    //     newline: "\r\n", //Newline character to use

                    //     //Takes each item and returns true if it should be included in output.
                    //     //Executed only on the records within the given subset above.
                    //     filter: function (item) { return true },

                    //     //Transformations are a way to modify the display value of the output.
                    //     //Provide a key of the field name, and a function that takes the current value.
                    //     transformations: {
                    //         "Married": function (value) {
                    //             if (value === true)
                    //                 return "Yes"
                    //             if (value !== false)
                    //                 return "No"
                    //         }
                    //     }
                    // });



                });

            });
        </script>

    </div>

</body>

</html>