<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{menu.system.organization}">[...]</title>
    <link rel="stylesheet" th:href="@{/css/jstree/style.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jsgrid-custom.min.css}" />
    <script type="text/javascript" th:src="@{/js/jstree.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsgrid-custom.min.js}"></script>

    <style>
        .btn-group .btn {
            padding: 3px;
        }
    </style>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">
        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp;<span>Home</span> &gt; <span class="page-current-path"
                    th:text="#{menu.system.organization}">[...]</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm padding-0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" th:text="#{menu.system.organization}">[...]</h5>
                    </div>
                    <div class="card-body padding-3">
                        <div class="row margin-0">
                            <div class="col-3 padding-10"
                                style="min-width: 200px; border-right: 1px rgb(161, 160, 160) dashed;">
                                <div class="text-secondary bg-light border">
                                    <div class="row">
                                        <div class="col">
                                            <label style="margin: 2px;">대한민국</label>
                                        </div>
                                        <div class="col text-right">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-sm btn-default"
                                                    id="btnRemoveTreeNode">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default"
                                                    id="btnAddTreeNode">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default"
                                                    id="btnEditTreeNode">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default"
                                                    id="btnTreeRefresh">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-default"
                                                    id="btnTreeCollapse">
                                                    <span class="glyphicon glyphicon-folder-close"></span>
                                                </button>
                                            </div>
                                            <script>
                                                $(document).ready(function () {
                                                    var tree = $orgTree.jstree(true);

                                                    $("#btnTreeRefresh").click(function (e) {
                                                        tree.refresh();
                                                    });
                                                    $("#btnTreeCollapse").click(function (e) {
                                                        tree.close_all();
                                                    });
                                                });

                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div id="orgTree1">여기에 트리가 표시됩니다.</div>
                            </div>
                            <div class="col-9 padding-10">
                                <div class="card h-100">
                                    <div class="card-header" style="padding: 0px;">
                                        <div class="row">
                                            <div class="col col-8" style="padding-left: 22px;">
                                                <div class="text-black-50" id="orgPath">[..]</div>
                                            </div>
                                            <div class="col text-right">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-sm btn-default"
                                                        id="btnAddTreeNode">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-default"
                                                        id="btnRemoveTreeNode">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-default"
                                                        id="btnEditTreeNode">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-default"
                                                        id="btnRefreshGrid">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0px;">
                                        <div id="gridMembers">
                                            여기에 회원정보 그리드가 표시 됩니다.
                                        </div>
                                    </div>
                                    <div class="card-footer padding-0" style="padding-left: 6px;">
                                        <span class="text-black-50" id="jstree-node">[..]</span>
                                    </div>
                                </div>
                                <script>

                                    $.jstree.root = "1";  // 시작 루트를 지정한다.

                                    var $orgTree = $("#orgTree1").on("changed.jstree", function (e, data) {
                                        switch (data.action) {
                                            case 'deselect_all':
                                                break;
                                            case 'select_node':
                                                var path = data.instance.get_path(data.node, '/');
                                                // console.log(path, data.node);
                                                $("#orgPath").text(path);
                                                $("#jstree-node").text(data.node.id);

                                                // 선택된 조직의 아이디를 그리드에서 사용하도록 설정
                                                orgId = data.node.id;
                                                gridMembers.jsGrid("loadData");
                                                break;
                                        }
                                    }).jstree({
                                        core: {
                                            // "check_callback": checkCallback,
                                            "data": {
                                                "method": "POST",
                                                "url": function (node) {
                                                    return "../../api/organizations/paging";
                                                },
                                                // "crossDomain": true,
                                                "contentType": "application/json",
                                                // "headers": {},
                                                "dataType": "json",
                                                "data": function (node) {
                                                    var data = {
                                                        "webApi": {
                                                            "paging": {
                                                                "pageIndex": 1,
                                                                "lineCount": 1000,
                                                                "querys": {
                                                                    "query": [
                                                                        { "type": "upper.id", "value": node.id }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    };
                                                    // console.log(data);
                                                    return JSON.stringify(data);
                                                },
                                                "dataFilter": function (data, type) {
                                                    var obj = JSON.parse(data);
                                                    return JSON.stringify(obj.webApi.list);
                                                },
                                                // "success": function (data, textStatus, jqXHR) {
                                                //     // console.log(data);
                                                // },
                                                "statusCode": {
                                                    404: function () {
                                                        alert("page not found");
                                                    }
                                                },
                                                "error": function (jqHXR, textStatus, errorThrown) {
                                                    // console.log(textStatus);
                                                }
                                            }
                                        }
                                    });

                                    function formatRequestMessage(request) {
                                        // 메지지 기본 골격
                                        var data = {
                                            "webApi": {
                                                "paging": {
                                                    "pageIndex": request.pageIndex,
                                                    "lineCount": request.pageSize,
                                                    "querys": {
                                                        "query": [
                                                            { "type": "org.id", "value": orgId }
                                                        ]
                                                    }
                                                }
                                            }
                                        };

                                        // 필터요청을 위한 구조로 변환
                                        pagingQuery(data.webApi.paging.querys.query, request, '');
                                        return data;
                                    }

                                    var codes = {
                                        member: {
                                            group: [
                                                { value: "0", name: "" },
                                                { value: "30", name: "사용자" },
                                                { value: "10", name: "관리자" }
                                            ]
                                        }
                                    };

                                    var orgId, gridMembers = $("#gridMembers").jsGrid({
                                        paging: true,
                                        sorting: true,
                                        filtering: true,
                                        pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                                        // autoload: true, // controller 를 사용할지 여부
                                        fields: [
                                            { label: "Choice", name: "id", type: "choice", multiChoice: true, width: 20 },
                                            // { title: "ID", name: "id", type: "number", inserting: false, editing: false, validate: "required", width: 30 },
                                            { title: "Name", name: "name", type: "text", validate: "required", width: 30 },
                                            { title: "EMail", name: "email", type: "text", width: 50, filtering: true, editing: true },
                                            { title: "Org", name: "org.text", type: "text", filtering: false, width: 30 },
                                            { title: "Position", name: "position.name", type: "text", validate: "required", width: 30 },
                                            { title: "Phone", name: "phone", type: "text", validate: "required", width: 30 },
                                            { title: "Status", name: "status", type: "text", width: 50, filtering: true },
                                            { title: "pttId", name: "pttId", type: "text", width: 50, filtering: true },
                                            { title: "fmcNo", name: "fmcNo", type: "text", width: 50, filtering: true },
                                            { title: "lastModifiedOn", name: "lastModifiedOn", type: "datetime", width: 50 },
                                            { title: "Enabled", name: "enabled", type: "checkbox", width: 30 }
                                        ],
                                        controller: {
                                            loadData: function (filter) {
                                                return $.ajax({
                                                    type: "POST",
                                                    url: "../../api/org-members/paging",
                                                    contentType: 'application/json',
                                                    dataType: 'json',
                                                    data: JSON.stringify(formatRequestMessage(filter)),
                                                    dataFilter: function (data, type) { // 받은데이터의 포멧을 변경할 수 있음.
                                                        var result = JSON.parse(data);
                                                        var newData = JSON.stringify({
                                                            itemsCount: result.webApi.totalCnt,
                                                            data: result.webApi.list
                                                        });
                                                        return newData;
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        //On error do this
                                                        if (xhr.status == 200) {
                                                            alert(ajaxOptions);
                                                        }
                                                        else {
                                                            alert(xhr.status);
                                                            alert(thrownError);
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div th:fragment="javascript">

        <script>
            $(document).ready(function () {

            });
        </script>

    </div>
</body>

</html>