<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE" th:text="#{label.product-name}">Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- stylesheet -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<!-- javascript -->
	<script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global.js}"></script>

</head>

<body th:attr="data-language=${#locale.language}" class="container-fluid">

	<a class="skippy sr-only sr-only-focusable" href="#content">
		<span class="skippy-text">Skip to main content</span>
	</a>

	<div class="container">
		<span>프로그램 개발에 필요한 라이브러리 사용법을 연구하면서 만들어 가는 곳입니다.</span>
	</div>

	<header th:replace="fragments/header :: header" >
		이곳은 fragments/header.html 의 header 태그로 치환됩니다.
	</header>

	<th:block layout:fragment="content">
		이곳에 호출된 페이지의 컨텐츠가 표시됩니다.
	</th:block>

	<div th:replace="fragments/footer :: footer">
		&copy; 2019 &copy;SANGMOK.
	</div>

	<!-- <div th:replace=" :: javascript">
		<script type="text/javascript">
			//---
			alert('we needs javascript fragment in this page!');
		</script>
	</div> -->
</body>
</html>