<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:with="jquery-serialize-object=''">
    <title>form data</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-custom.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/webjars/github-com-macek-jquery-serialize-object/2.5.0/dist/jquery.serialize-object.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-custom.js}"></script>
</head>

<body class="container">

    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form id="myForm1">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" name="email" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" name="password" id="inputPassword4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" name="address" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" name="address2" id="inputAddress2"
                                placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" name="city" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select name="state" id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" name="zip" id="inputZip">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="btnSave">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <form id="f">
                        <input type="file" name="file">
                    </form>
                </div>
                <div class="col">
                    <progress id=p></progress>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="btnAction1">Secondary</button>
            <script>
                $(document).ready(function () {
                    $("#btnAction1").on("click", function (e) {
                        var progressBar = document.getElementById("p"),
                            client = new XMLHttpRequest();

                        client.open("POST", "magical-unicorns")
                        client.onprogress = function (pe) {
                            if (pe.lengthComputable) {
                                progressBar.max = pe.total
                                progressBar.value = pe.loaded
                            }
                        }
                        client.onloadend = function (pe) {
                            progressBar.value = pe.loaded
                        }
                        client.send();
                    });
                });
            </script>
        </div>
    </div>


    <script>

        $(document).ready(function () {

            $("#btnSave").on("click", function (e) {

                var data = $("#myForm1").serializeObject();
                console.log("$.serializeObject()", data, JSON.stringify(data));

                var data2 = $("#myForm1").serialize();
                console.log("$.serialize()", data2, JSON.stringify(data2));

            });

            var jsonData = { "email": "admin", "password": "password", "address": "", "address2": "", "city": "", "state": "Choose...", "zip": "" }

            $("#btnAction2").on("click", function (e) {

                var formdata = new FormData(document.getElementById("myForm1"));
                // formdata.append("email", "sangmok");
                // formdata.append('file', JSON.stringify(jsonData));

                if (formdata.has("email")) {
                    formdata.set("email", "test");
                }

                formdata.append('img', document.getElementById('파일 인풋').files[0]);
                formdata.append('img', document.getElementById('파일 인풋').files[1]);

                console.log(formdata.has("email"));
                console.log(jsonData, formdata);


                var progressBar = document.getElementById("p"),
                    client = new XMLHttpRequest();

                client.open("GET", "magical-unicorns")
                client.onprogress = function (pe) {
                    if (pe.lengthComputable) {
                        progressBar.max = pe.total
                        progressBar.value = pe.loaded
                    }
                }
                client.onloadend = function (pe) {
                    progressBar.value = pe.loaded
                }
                client.send();

            });


        });

    </script>


</body>

</html>