<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/default}">

<head th:with="jquery-serialize-object=''">
    <title>form data</title>
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap-custom.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script type="text/javascript"
        th:src="@{/webjars/github-com-macek-jquery-serialize-object/2.5.0/dist/jquery.serialize-object.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-custom.js}"></script> -->
</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Upload multi files</h5>
                    </div>
                    <div class="card-body">

                        <form name="uploadingForm" enctype="multipart/form-data" action="upload-files" method="POST">
                            <p>
                                <input id="fileInput" type="file" name="uploadingFiles" onchange="updateSize();"
                                    multiple>
                                selected files: <span id="fileNum">0</span>;
                                total size: <span id="fileSize">0</span>
                            </p>
                            <p>
                                <input type="submit" class="btn btn-sm btn-primary" value="Upload files">
                            </p>
                        </form>
                        <div>
                            <div>Uploaded files:</div>
                            <!-- <#list files as file> -->
                            <div th:each="item, stat : ${files}" th:object="${item}">
                                <!-- ${file.getName()} -->
                                <span th:text="*{name}">...</span>
                            </div>
                            <!-- </#list> -->
                        </div>
                        <script>
                            function updateSize() {
                                var nBytes = 0,
                                    oFiles = document.getElementById("fileInput").files,
                                    nFiles = oFiles.length;
                                for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                                    nBytes += oFiles[nFileId].size;
                                }

                                var sOutput = nBytes + " bytes";
                                // optional code for multiples approximation
                                for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                                    sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
                                }
                                // end of optional code

                                document.getElementById("fileNum").innerHTML = nFiles;
                                document.getElementById("fileSize").innerHTML = sOutput;
                            }
                        </script>

                    </div>
                </div>
                <hr />
                <div class="card">
                    <div class="card-header" style="padding-bottom: 0px;">
                        <h5 class="card-title">Upload Excel file</h5>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form method="post" action="upload-excel" enctype="multipart/form-data">
                                    <input type="file"
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                        class="border btn btn-sm" name="file" id="excelFile" />
                                    <input type="submit" class="btn btn-sm btn-outline-danger" />
                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <pre>
accept="text/plain"
accept="image/*"
accept="audio/*"
accept="video/*"
accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
accept="application/vnd.ms-excel"
accept=".csv"
</pre>

                                <pre>
&lt;dependency>
    &lt;groupId>org.apache.poi&lt;groupId>
    &lt;artifactId>poi-ooxml&lt;artifactId>
    &lt;version>3.15&lt;version>
&lt;/dependency>
</pre>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="m: ${members}">
                                    <td th:text="${m.id}"></td>
                                    <td th:text="${m.name}"></td>
                                    <td th:text="${m.age}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Upload file with FormData</h5>
                    </div>
                    <div class="card-body">
                        <div th:if="${message}">
                            <h2 th:text="${message}"></h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- file upload form -->
                                <div class="alert-info" id="message">...</div>
                                <form id="f" enctype="multipart/form-data" method="POST" action="upload-file">
                                    <label>PersonId:</label>
                                    <input type="text" name="personId" value="515" />
                                    <input type="file" name="file" />
                                </form>
                            </div>
                            <div class="col">
                                <progress id=p></progress>
                                <div>
                                    <ul>
                                        <li th:each="file : ${files}">
                                            <a th:href="${file}" th:text="${file}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-secondary" id="btnAction1">Controller
                            Upload</button>
                        <button type="button" class="btn btn-sm btn-secondary" id="btnAction2">Ajax Upload</button>
                    </div>
                    <script>
                        // btnAction1
                        $("#btnAction1").on("click", function (e) {

                            // formData
                            var formElement = document.getElementById("f");
                            var formData = new FormData(formElement);
                            formData.append("name", "appsoga"); //따로 속성을 추가한다.
                            // http request
                            var progressBar = document.getElementById("p"),
                                oOutput = document.querySelector("div#message"),
                                client = new XMLHttpRequest()
                            progressBar.value = 0;

                            client.open("POST", "./upload-file")
                            client.onprogress = function (pe) {
                                if (pe.lengthComputable) {
                                    progressBar.max = pe.total
                                    progressBar.value = pe.loaded
                                }
                            }
                            client.onload = function (e) {
                                if (client.status == 200) {
                                    oOutput.innerHTML = "Uploaded!";
                                } else {
                                    oOutput.innerHTML = "Error " + client.status + " occurred when trying to upload your file.<br \/>";
                                }
                            }
                            client.onloadend = function (pe) {
                                progressBar.value = pe.loaded
                            }
                            client.send(formData)
                        });

                        var file = document.querySelector('#f');
                        var result;
                        // 정상 로드시 result에 인코딩 값을 저장하기
                        var reader = new FileReader(file);
                        reader.onload = function () {
                            result = reader.result;
                            console.log(reader);
                        }
                        // 실패할 경우 에러 출력하기
                        reader.onerror = function (error) {
                            console.log('Error');
                        };

                        // const byteCharacters = atob(b64Data);

                        // btnAction2
                        $("#btnAction2").on("click", function (e) {

                            var form = document.querySelector('#f');
                            var formData = new FormData(form);
                            // formData.append("uploadfile",$("input[name=uploadfile]")[0].files[0]);
                            // formData.append("uploadfile",$("input[name=uploadfile]")[1].files[0]);

                            // var personId = formData.get("personId");
                            // var file = formData.get("file");
                            // console.log(personId, file);

                            $.ajax({
                                url: "/dev/files/upload-file",
                                processData: false,
                                contentType: false,
                                data: formData,
                                type: "post",
                                success: function (result) {
                                    // console.log(result);
                                }
                            });

                        });
                    </script>
                </div>
                <hr />
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Base64 RESTful</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img id="img" class="border" style="min-width: 150px;" height="150">
                            </div>
                            <div class="col">
                                <textarea id="b64" class="w-100 h-100"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input id="inp" type='file'>
                        <button type="button" class="btn btn-sm btn-outline-primary" id="btnAction3">RestController
                            Upload</button>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>
                                <a href="https://stackoverflow.com/questions/17710147/image-convert-to-base64/17711190">Image
                                    convert to Base64</a>
                            </li>
                            <li>
                                <a
                                    href="https://stackoverflow.com/questions/12570834/get-file-size-image-width-and-height-before-upload">Multiple
                                    images upload with info data preview</a>
                            </li>
                        </ul>
                    </div>
                    <script>
                        var imgB64;
                        document.getElementById("inp").addEventListener("change", function () {
                            if (this.files && this.files[0]) {
                                var FR = new FileReader();
                                FR.addEventListener("load", function (e) {
                                    console.log(e);
                                })

                                FR.onloadstart = function (e) {
                                    console.log(e);
                                }

                                FR.onprogress = function (e) {
                                    console.log(e.loaded);
                                }

                                FR.onloadend = function (e) {
                                    document.getElementById("img").src = e.target.result;
                                    document.getElementById("b64").innerHTML = e.target.result;
                                    imgB64 = e.target.result;
                                    console.log(e);
                                }

                                FR.readAsDataURL(this.files[0]);

                            }
                        });

                        // btnAction3
                        $("#btnAction3").on("click", function (e) {
                            console.log(imgB64);
                        });
                    </script>
                </div>

                <hr />
                <div class="alert-info">
                    <ul>
                        <li>FormData와 XMLHttpRequest에 대해 참고할 만한 <a
                                href="https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects"
                                target="_new">Link</a>
                            입니다.</li>
                        <li><a href="https://spring.io/guides/gs/uploading-files/">스프링에서 제공하는 파일업로드 예제</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <script>

            $(document).ready(function () {

                $("#btnSave").on("click", function (e) {

                    var data = $("#myForm1").serializeObject();
                    console.log("$.serializeObject()", data, JSON.stringify(data));

                    var data2 = $("#myForm1").serialize();
                    console.log("$.serialize()", data2, JSON.stringify(data2));

                });

                var jsonData = { "email": "admin", "password": "password", "address": "", "address2": "", "city": "", "state": "Choose...", "zip": "" }


                var aaa = function (e) {
                    // Change this to the location of your server-side upload handler:

                    var url = '/file/ciImage';  // 사용
                    var html = '';
                    $('#fileupload').fileupload({
                        url: url,
                        dataType: 'json',
                        add: function (e, data) {
                            var uploadFile = data.files[0];
                            var isValid = true;
                            alert(uploadFile.size);
                            if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
                                alert('png, jpg, gif 만 가능합니다');
                                isValid = false;
                            } else if (uploadFile.size > 51200) { // 50kb
                                alert('파일 용량은 50kb를 초과할 수 없습니다.');
                                isValid = false;
                            }
                            if (isValid) {
                                data.submit();
                            }
                        },
                        done: function (e, data) {
                            $('#files').empty();
                            //          $('<p/>').text(data.result.file_name).appendTo('#files');
                            html = '<p>' + data.result.file_name + '&nbsp;&nbsp;<button type="button" onclick="fn_ciDelete(' + data.result.file_uid + ')">삭제</button></p>';
                            $('#files').append(html);
                            $('#tempFileUid').val(data.result.file_uid); //임시 파일uid저장
                            /*$.each(data.result.files, function (index, file) {
                                   $('<p/>').text(file.name).appendTo('#files');
                               });*/
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#progress .progress-bar').css(
                                'width',
                                progress + '%'
                            );
                        }
                    }).prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                }


            });

        </script>

    </article>
</body>

</html>