<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>fragments:: header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <header th:fragment="header" class="navbar navbar-expand navbar-dark bg-dark sticky-top flex-column flex-md-row">
        <a class="navbar-brand mr-0 mr-md-2" th:href="@{/}" aria-label="Bootstrap"><img width="30px;"
                th:src="@{/images/logo.svg}" /></a>

        <small class="d-none d-lg-inline-block" th:text="#{label.product-desc}">Description</small>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">

                <li class="nav-item"><a class="nav-link active" th:href="@{/app/dashboard.html}"
                        th:text="#{label.menu.dashboard}">Link</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" th:text="#{label.menu.examples}"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/example/jqgrid.html}"
                            th:text="#{label.menu.examples-jqgrid}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/jsgrid.html}"
                            th:text="#{label.menu.examples-jsgrid}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/jtable.html}"
                            th:text="#{label.menu.examples-jtable}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/datatable.html}"
                            th:text="#{label.menu.examples-datatable}">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/example/chartjs.html}"
                            th:text="#{label.menu.examples-chartjs}">Something else here</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" th:href="@{/app/system/members.html}"
                        th:text="#{label.menu.members}">Link</a></li>

                <li class="nav-item"><a class="nav-link" th:href="@{/app/about.html}"
                        th:text="#{label.menu.about}">Link</a>
                </li>

            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

            <li class="nav-item">
                <a class="nav-link btn btn-sm" th:href="@{/app/mypage.html}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                        th:text="#{label.mypage}">MyPage</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn btn-sm" th:href="@{/app/logout}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span
                        th:text="#{label.sign-out}">Logout</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="av-item nav-link dropdown-toggle mr-md-2" href="#" id="my-locale" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:text="#{'label.lang.' + ${#locale.language}}">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="my-locale">
                    <a th:class="'dropdown-item ' + (${#locale.language} == 'ko'? 'active':'')" href="?locale=ko" th:text="#{label.lang.ko}">Action</a>
                    <a th:class="'dropdown-item ' + (${#locale.language} == 'en'? 'active':'')" href="?locale=en" th:text="#{label.lang.en}">Action</a>
                </div>
            </li>

        </ul>

        <span class="d-none d-md-inline-block mb-3 mb-md-0 ml-md-3" th:text="${#locale.language}">md</span>
        <span class="d-none d-md-inline-block mb-3 mb-md-0 ml-md-3">md</span>
        <span class="d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">lg</span>
        <span class="d-none d-xl-inline-block mb-3 mb-md-0 ml-md-3">xl</span>
        <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#">link</a>

    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>