<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>fragments:: header</title>
</head>

<body>

    <header th:fragment="header" class="navbar navbar-expand navbar-dark bg-dark sticky-top flex-column flex-md-row">
        <a class="navbar-brand mr-0 mr-md-2" th:href="@{/}" aria-label="Bootstrap"><img width="30px;"
                th:src="@{/images/logo.svg}" />
            <small class="d-none d-lg-inline-block" th:text="#{label.product-name}">Description</small>
        </a>


        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">

                <li class="nav-item"><a class="nav-link" th:href="@{/app/dashboard.html}"
                        th:text="#{menu.dashboard}">Link</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/dev/}" id="navbarDropdown" th:text="#{menu.dev}"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/dev/jsgrid}" th:text="#{menu.dev.jsgrid}">Action</a>
                        <a class="dropdown-item" th:href="@{/dev/jstree}" th:text="#{menu.dev.jstree}">Action</a>
                        <a class="dropdown-item" th:href="@{/dev/jsform}" th:text="#{menu.dev.jsform}">Action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/dev/files/upload.html}" th:text="#{menu.dev.upload}">Action</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/example/}" id="navbarDropdown"
                        th:text="#{label.menu.examples}" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" th:href="@{/example/jsgrid.html}"
                            th:text="#{label.menu.examples-jsgrid}">Action</a> -->
                        <a class="dropdown-item" th:href="@{/example/jtable.html}"
                            th:text="#{label.menu.examples-jtable}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/jqgrid.html}"
                            th:text="#{label.menu.examples-jqgrid}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/datatables.html}"
                            th:text="#{label.menu.examples-datatable}">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/example/chartjs.html}"
                            th:text="#{label.menu.examples-chartjs}">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/app/system/}" id="navbarDropdown"
                        th:text="#{menu.system}" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/app/system/members.html}"
                            th:text="#{menu.system.members}">Action</a>
                        <a class="dropdown-item" th:href="@{/app/system/organization.html}"
                            th:text="#{menu.system.organization}">Action</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/app/about.html}"
                        th:text="#{menu.about}">Something else here</a> -->
                    </div>
                </li>

                <!-- <li class="nav-item"><a class="nav-link" th:href="@{/app/system/members.html}"
                        th:text="#{label.menu.members}">Link</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/app/system/organization.html}"
                        th:text="#{menu.system.organization}">Link</a></li> -->

                <li class="nav-item"><a class="nav-link" th:href="@{/app/about.html}" th:text="#{menu.about}">Link</a>
                </li>

            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

            <li class="nav-item">
                <a class="nav-link btn btn-sm" th:href="@{/app/mypage.html}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                        th:text="#{menu.profile.my-page}">MyPage</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn btn-sm" th:href="@{/app/logout}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span
                        th:text="#{label.sign-out}">Logout</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="av-item nav-link dropdown-toggle mr-md-2" href="#" id="my-locale" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:text="#{'label.lang.' + ${#locale.language}}">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="my-locale">
                    <a th:class="'dropdown-item ' + (${#locale.language} == 'ko'? 'active':'')" href="?locale=ko" th:text="#{label.lang.ko}">Action</a>
                    <a th:class="'dropdown-item ' + (${#locale.language} == 'en'? 'active':'')" href="?locale=en" th:text="#{label.lang.en}">Action</a>
                </div>
            </li>

        </ul>

        <!-- <span class="d-none d-md-inline-block mb-3 mb-md-0 ml-md-3" th:text="${#locale.language}">md</span>
        <span class="d-none d-md-inline-block mb-3 mb-md-0 ml-md-3">md</span>
        <span class="d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">lg</span>
        <span class="d-none d-xl-inline-block mb-3 mb-md-0 ml-md-3">xl</span>
        <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#">link</a> -->

    </header>

</body>

</html>