<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>fragments:: header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <header th:fragment="header">
        <div class="container">
            <!-- <span>locale.language</span>=<span th:text="${#locale.language}">lang</span> -->
        </div>
    </header>

    <nav th:fragment="nav" class="navbar sticky-top navbar-expand-lg navbar-light container-fluid">
        <a class="navbar-brand" th:href="@{/}" th:text="#{label.product-name}">Navbar</a>
        <small th:text="#{label.product-desc}">Description</small>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav mr-auto">

                <li class="nav-item"><a class="nav-link" th:href="@{/app/integrated/manager.html}"
                        th:text="#{label.menu.dashboard}">Link</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" th:text="#{label.menu.examples}"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/example/jsgrid.html}"
                            th:text="#{label.menu.examples-jsgrid}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/jtable.html}"
                            th:text="#{label.menu.examples-jtable}">Action</a>
                        <a class="dropdown-item" th:href="@{/example/datatable.html}"
                            th:text="#{label.menu.examples-datatable}">Another action</a>
                        <a class="dropdown-item" th:href="@{/example/jqgrid.html}"
                            th:text="#{label.menu.examples-jqgrid}">Action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/example/chartjs.html}"
                            th:text="#{label.menu.examples-chartjs}">Something else here</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" th:href="@{/app/system/members.html}"
                        th:text="#{label.menu.members}">Link</a></li>

                <li class="nav-item"><a class="nav-link" th:href="@{/app/about.html}"
                        th:text="#{label.menu.about}">Link</a></li>
            </ul>
            &nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-sm" th:href="@{/app/mypage.html}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                            th:text="#{label.mypage}">MyPage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-sm" th:href="@{/app/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <span
                            th:text="#{label.sign-out}">Logout</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" th:text="#{label.lang}"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="?locale=ko" th:text="#{label.lang.ko}">Action</a>
                        <a class="dropdown-item" href="?locale=en" th:text="#{label.lang.en}">Action</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>