<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>form data</title>
    <!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" /> -->
    <!-- jsgrid -->
    <link rel="stylesheet" th:href="@{/src/jsgrid/1.5.3/css/jsgrid.css}" />
    <link rel="stylesheet" th:href="@{/src/jsgrid/1.5.3/css/theme.css}" />

    <link rel="stylesheet" th:href="@{/src/jsgrid/css/jsgrid-osm515.css}" />

    <!-- javascript -->
    <!-- <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script> -->
    <!-- jsgrid -->
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.core.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.field.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.sort-strategies.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.load-strategies.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.load-indicator.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/jsgrid.validation.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.text.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.textarea.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.number.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.checkbox.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.control.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/1.5.3/src/fields/jsgrid.field.select.js}"></script>

    <script type="text/javascript" th:src="@{/src/jsgrid/js/jsgrid-extends.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/js/fields/jsgrid.field.date.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/js/fields/jsgrid.field.datetime.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/js/fields/jsgrid.field.link.js}"></script>
    <script type="text/javascript" th:src="@{/src/jsgrid/js/fields/jsgrid.field.choice.js}"></script>

    <style>
        article {
            padding: 15px;
            background-color: rgb(233, 231, 231);
        }

        .card-header {
            padding-bottom: 0px;
        }

        .card-header .card-title {
            margin-bottom: 0px;
        }
    </style>

    <script>
        var jsgridCodes = {
            member: {
                group: [
                    { value: "0", name: "" },
                    { value: "30", name: "사용자" },
                    { value: "10", name: "관리자" }
                ]
            }
        };
        var jsgridFields = {
            fields: {
                member: [
                    // { label: "선택", name: "id", type: "choice", multiChoice: false, width: 20 },
                    // { label: '번호', name: 'id', key: true, index: 'id', sortable: true, sorttype: 'number', width: 22, align: 'right' },
                    { label: '아이디', name: 'username', type: 'text', width: 70 },
                    { label: '성명', name: 'name', index: 'name', type: 'text', sortable: true, sorttype: 'text' },
                    { label: "Group", name: "group", type: "select", validate: "required", width: 60, items: jsgridCodes.member.group, valueField: "value", textField: "name" },
                    { label: '만료일자', name: 'expiresOn', index: 'expiresOn', width: 70, type: 'date', sortable: true, sorttype: 'date', formatter: 'date', formatoptions: { srcformat: 'ISO8601Long', newformat: 'yy. mm. dd' } },
                    { label: '사용여부', name: 'enabled', index: 'enabled', type: 'checkbox', width: 40 },
                    // {
                    //     type: "control",
                    //     editButton: true,                               // show edit button
                    //     deleteButton: true,                             // show delete button
                    //     clearFilterButton: true,                        // show clear filter button
                    //     modeSwitchButton: true,                        // show switching filtering/inserting button

                    //     align: "center",                                // center content alignment
                    //     width: 44,                                      // default column width is 50px
                    //     filtering: false,                               // disable filtering for column
                    //     inserting: false,                               // disable inserting for column
                    //     editing: false,                                 // disable editing for column
                    //     sorting: false,                                 // disable sorting for column

                    //     searchModeButtonTooltip: "Switch to searching", // tooltip of switching filtering/inserting button in inserting mode
                    //     insertModeButtonTooltip: "Switch to inserting", // tooltip of switching filtering/inserting button in filtering mode
                    //     editButtonTooltip: "Edit",                      // tooltip of edit item button
                    //     deleteButtonTooltip: "Delete",                  // tooltip of delete item button
                    //     searchButtonTooltip: "Search",                  // tooltip of search button
                    //     clearFilterButtonTooltip: "Clear filter",       // tooltip of clear filter button
                    //     insertButtonTooltip: "Insert",                  // tooltip of insert button
                    //     updateButtonTooltip: "Update",                  // tooltip of update item button
                    //     cancelEditButtonTooltip: "Cancel edit",         // tooltip of cancel editing button
                    // }
                ],
                customer: [
                    { label: "Choice", name: "id", type: "choice", multiChoice: true, width: 20 },
                    // { label: '번호', name: 'id', key: true, index: 'id', sortable: true, sorttype: 'number', width: 22, align: 'right' },
                    { label: '아이디', name: 'username', type: 'text', width: 70 },
                    { label: '성명', name: 'name', index: 'name', type: 'text', sortable: true, sorttype: 'text' },
                    // { label: "Group", name: "group", type: "select", validate: "required", width: 60, items: jsgridCodes.member.group, valueField: "value", textField: "name" },
                    { label: '만료일자', name: 'expiresOn', index: 'expiresOn', width: 70, type: 'date', sortable: true, sorttype: 'date', formatter: 'date', formatoptions: { srcformat: 'ISO8601Long', newformat: 'yy. mm. dd' } },
                    { label: '사용여부', name: 'enabled', index: 'enabled', type: 'checkbox', width: 40 },
                    {
                        type: "control",
                        // editButton: true,                               // show edit button
                        // deleteButton: true,                             // show delete button
                        // clearFilterButton: true,                        // show clear filter button
                        // modeSwitchButton: true,                        // show switching filtering/inserting button

                        // align: "center",                                // center content alignment
                        // width: 44,                                      // default column width is 50px
                        // filtering: false,                               // disable filtering for column
                        // inserting: false,                               // disable inserting for column
                        // editing: false,                                 // disable editing for column
                        // sorting: false,                                 // disable sorting for column

                        // searchModeButtonTooltip: "Switch to searching", // tooltip of switching filtering/inserting button in inserting mode
                        // insertModeButtonTooltip: "Switch to inserting", // tooltip of switching filtering/inserting button in filtering mode
                        // editButtonTooltip: "Edit",                      // tooltip of edit item button
                        // deleteButtonTooltip: "Delete",                  // tooltip of delete item button
                        // searchButtonTooltip: "Search",                  // tooltip of search button
                        // clearFilterButtonTooltip: "Clear filter",       // tooltip of clear filter button
                        // insertButtonTooltip: "Insert",                  // tooltip of insert button
                        // updateButtonTooltip: "Update",                  // tooltip of update item button
                        // cancelEditButtonTooltip: "Cancel edit",         // tooltip of cancel editing button
                    }
                ]
            }
        }
    </script>


</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="row">
            <div class="col">
                <h5>JsGrid develop...</h5>
            </div>
        </div>

        <div class="row">
            <div class="col col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                <label class="col">Members</label>
                                <button class="btn btn-primary" id="selectedItems1">
                                    Selected Items
                                </button>

                                <div class="col text-right">
                                    <small id="gridMembersTotalCount">#,###</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding:0px;">
                        <div id="gridMembers">jsgrid for masters</div>
                    </div>
                    <div class="card-footer">
                        <div id="result1">[...]</div>
                    </div>
                    <script>
                        $("#selectedItems1").on("click", function (e) {
                            var items = gridMembers.jsGrid("getSelectedItems");
                            $("#result1").text(JSON.stringify(items));
                            // console.log(JSON.stringify(items));
                        });
                    </script>
                    <script>
                        var gridMembersSelectedItem,
                            gridMembers = $("#gridMembers").jsGrid({
                                width: "100%",
                                height: "300px",
                                paging: true,
                                sorting: true,
                                filtering: true,
                                // editing: true,
                                // inserting: true,
                                pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                                // scrolling: true,
                                // pagerContainer: "#myGrid1Pager",
                                // data: clients,
                                autoload: true, // controller 를 사용할지 여부
                                fields: jsgridFields.fields.member,
                                onDataLoaded: function (o) {
                                    // console.log(o.data.itemsCount);
                                    // $(this).find("tr").each(function (index) {
                                    //     console.log(index);
                                    // });
                                    $("#gridMembersTotalCount").text(o.data.itemsCount);
                                },
                                onPageChanged: function (args) {
                                    // // 이전페이지 선택 제거
                                    // var grid = args.grid;
                                    // grid.getSelectedItems(grid._container.context.id);
                                    // gridMembersSelectedItem = null;
                                    // $("#gridMembers").find("input.select-all-appsoga").each(function (e) {
                                    //     $(this).prop("checked", false);
                                    // });
                                },
                                rowClass: function (item, itemIndex) {
                                    return itemIndex % 2 == 0 ? 'bg-red' : 'bg-green';
                                },
                                rowClick: function (args) {
                                    // 선택된 아이팀을 변수에 보관하고, 배경생을 변경한다.
                                    this._selectedItems = [];
                                    if (!this._selectedItems.includes(args.item)) this._selectedItems.push(args.item);
                                    if (gridMembersSelectedItem) { gridMembersSelectedItem.removeClass('jsgrid-selected'); }
                                    var $row = this.rowByItem(args.item);
                                    $row.addClass('jsgrid-selected');
                                    gridMembersSelectedItem = $row;

                                    // 선택된 정보를 이용해 다른 그리드의 데이터를 불러온다.
                                    var memberId = args.item.id;
                                    gridCustomers.jsGrid("loadData", { id: memberId });
                                },
                                rowDoubleClick: function (args) {
                                    // // 선택된 정보를 이용해 다른 그리드의 데이터를 불러온다.
                                    // var memberId = args.item.id;
                                    // gridCustomers.jsGrid("loadData", { id: memberId });
                                },
                                controller: {
                                    // insertItem: $.noop,
                                    // updateItem: $.noop,
                                    // deleteItem: $.noop,
                                    loadData: function (filter) {

                                        return $.ajax({
                                            type: "POST",
                                            // url: "../api/members",
                                            url: "../api/members/jsgrid.json",
                                            // url: "jsgrid.json",
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            data: JSON.stringify(filter),
                                            beforeSend: function (xhr, opts) {
                                                if (false) {
                                                    xhr.abort();
                                                }
                                            },
                                            success: function (data) {
                                                //On ajax success do this
                                                // alert(data);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //On error do this
                                                if (xhr.status == 200) {
                                                    alert(ajaxOptions);
                                                }
                                                else {
                                                    alert(xhr.status);
                                                    alert(thrownError);
                                                }
                                            }
                                        });
                                    },
                                    updateItem: function (item) {
                                        // console.log(row);
                                        return $.ajax({
                                            type: "PUT",
                                            url: "../api/members",
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            data: JSON.stringify(item),
                                            beforeSend: function (xhr, opts) {
                                                console.log(JSON.stringify(item));
                                            },
                                            success: function (data) {
                                                //On ajax success do this
                                                // alert(data);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //On error do this
                                                if (xhr.status == 200) {
                                                    alert(ajaxOptions);
                                                }
                                                else {
                                                    alert(xhr.status);
                                                    alert(thrownError);
                                                }
                                            }
                                        });
                                    },
                                    deleteItem: function (item) {
                                        return $.ajax({
                                            type: "DELETE",
                                            contentType: 'application/json',
                                            url: "../api/members/" + item.id,
                                            // dataType: 'json',
                                            // data: JSON.stringify(item),
                                            success: function (data) {
                                                //On ajax success do this
                                                // alert(data);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //On error do this
                                                if (xhr.status == 200) {
                                                    alert(ajaxOptions);
                                                }
                                                else {
                                                    alert(xhr.status);
                                                    alert(thrownError);
                                                }
                                            }
                                        });
                                    },
                                    insertItem: function (item) {
                                        return $.ajax({
                                            type: "POST",
                                            contentType: 'application/json',
                                            url: "../api/members",
                                            dataType: 'json',
                                            data: JSON.stringify(item),
                                            success: function (data) {
                                                //On ajax success do this
                                                // alert(data);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                //On error do this
                                                if (xhr.status == 200) {
                                                    alert(ajaxOptions);
                                                }
                                                else {
                                                    alert(xhr.status);
                                                    alert(thrownError);
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                    </script>
                </div>
            </div>
            <div class="col col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                <label class="col">Customer</label>
                                <button class="btn btn-primary" id="selectedItems2">
                                    Selected Items
                                </button>
                                <div class="col text-right">
                                    <small id="gridCustomersTotalCount">#,###</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding:0px;">
                        <div id="gridCustomers">jsgrid for customer</div>
                    </div>
                    <div class="card-footer">
                        <div id="result2">[...]</div>
                    </div>
                    <script>

                        $("#selectedItems2").click(function (e) {
                            var items = gridCustomers.jsGrid("getSelectedItems");
                            $("#result2").text(JSON.stringify(items));
                        });

                        var gridCustomers = $("#gridCustomers").jsGrid({
                            width: "100%",
                            height: "300px",
                            paging: true,
                            sorting: true,
                            filtering: true,
                            editing: true,
                            // inserting: true,
                            pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                            // scrolling: true,
                            // pagerContainer: "#myGrid1Pager",
                            // data: clients,
                            pageSize: 10,
                            autoload: true, // controller 를 사용할지 여부
                            fields: jsgridFields.fields.customer,
                            onDataLoaded: function (o) {
                                // console.log(o.data.itemsCount);
                                $("#gridCustomersTotalCount").text(o.data.itemsCount);

                                // $(this).find("tr").each(function (index) {
                                //     console.log(index);
                                // });

                            },
                            rowClass: function (item, itemIndex) {
                                return itemIndex % 2 == 0 ? 'bg-red' : 'bg-green';
                            },
                            rowClick: function (item) {

                            },
                            controller: {
                                // insertItem: $.noop,
                                // updateItem: $.noop,
                                // deleteItem: $.noop,
                                loadData: function (filter) {

                                    return $.ajax({
                                        type: "POST",
                                        // url: "../api/members",
                                        url: "../api/members/jsgrid.json",
                                        // url: "jsgrid.json",
                                        contentType: 'application/json',
                                        dataType: 'json',
                                        data: JSON.stringify(filter),
                                        beforeSend: function (xhr, opts) {
                                            if (false) {
                                                xhr.abort();
                                            }
                                        },
                                        success: function (data) {
                                            //On ajax success do this
                                            // alert(data);
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //On error do this
                                            if (xhr.status == 200) {
                                                alert(ajaxOptions);
                                            }
                                            else {
                                                alert(xhr.status);
                                                alert(thrownError);
                                            }
                                        }
                                    });
                                },
                                updateItem: function (item) {
                                    // console.log(row);
                                    return $.ajax({
                                        type: "PUT",
                                        url: "../api/members",
                                        contentType: 'application/json',
                                        dataType: 'json',
                                        data: JSON.stringify(item),
                                        beforeSend: function (xhr, opts) {
                                            console.log(JSON.stringify(item));
                                        },
                                        success: function (data) {
                                            //On ajax success do this
                                            // alert(data);
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //On error do this
                                            if (xhr.status == 200) {
                                                alert(ajaxOptions);
                                            }
                                            else {
                                                alert(xhr.status);
                                                alert(thrownError);
                                            }
                                        }
                                    });
                                },
                                deleteItem: function (item) {
                                    return $.ajax({
                                        type: "DELETE",
                                        contentType: 'application/json',
                                        url: "../api/members/" + item.id,
                                        // dataType: 'json',
                                        // data: JSON.stringify(item),
                                        success: function (data) {
                                            //On ajax success do this
                                            // alert(data);
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //On error do this
                                            if (xhr.status == 200) {
                                                alert(ajaxOptions);
                                            }
                                            else {
                                                alert(xhr.status);
                                                alert(thrownError);
                                            }
                                        }
                                    });
                                },
                                insertItem: function (item) {
                                    return $.ajax({
                                        type: "POST",
                                        contentType: 'application/json',
                                        url: "../api/members",
                                        dataType: 'json',
                                        data: JSON.stringify(item),
                                        success: function (data) {
                                            //On ajax success do this
                                            // alert(data);
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            //On error do this
                                            if (xhr.status == 200) {
                                                alert(ajaxOptions);
                                            }
                                            else {
                                                alert(xhr.status);
                                                alert(thrownError);
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
<a href="https://github.com/tabalinas/jsgrid/issues/765">scroll-horizontal</a>
    </article>

</body>

</html>