<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{menu.system.organization}">untitled</title>
    <link rel="stylesheet" th:href="@{/css/jstree/style.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jsgrid-custom.min.css}" />
    <script type="text/javascript" th:src="@{/js/jstree.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsgrid-custom.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/dev.jstree.js}"></script>

    <style>
        .btn-group .btn {
            padding: 3px;
        }
    </style>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp;<span>Home</span> &gt; <span class="page-current-path"
                    th:text="#{menu.system.organization}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" th:text="#{menu.system.organization}">Untitled</h5>
                        <p class="card-text" id="welcomeMessage">jstree 사용법 익히기</p>
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">실행</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Source Sample</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">사용법예제</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-3"
                                        style="min-width: 200px; border-right: 1px rgb(161, 160, 160) dashed;">
                                        <div class="text-secondary bg-light border">
                                            <div class="row">
                                                <div class="col">
                                                    <label style="margin: 2px;">조직도</label>
                                                </div>
                                                <div class="col text-right">
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-sm btn-default"
                                                            id="btnRemoveTreeNode">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-default"
                                                            id="btnAddTreeNode">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-default"
                                                            id="btnEditTreeNode">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-default"
                                                            id="btnTreeRefresh">
                                                            <span class="glyphicon glyphicon-refresh"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-default"
                                                            id="btnTreeCollapse">
                                                            <span class="glyphicon glyphicon-folder-close"></span>
                                                        </button>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function () {
                                                            // var tree = $orgTree.jstree(true);

                                                            $("#btnRemoveTreeNode").click(function (e) {
                                                                var ref = $('#jstree_demo').jstree(true),
                                                                    sel = tree.get_selected();
                                                                if (!sel.length) { return false; }
                                                                sel = sel[0];
                                                                tree.delete_node(sel);
                                                            });

                                                            $("#btnAddTreeNode").click(function (e) {
                                                                sel = tree.get_selected();
                                                                if (!sel.length) { return false; }
                                                                sel = sel[0];
                                                                var node = tree.get_node(sel);
                                                                var item = node.original;
                                                                item['parent'] = item.id;
                                                                item['level'] = item.level + 1;
                                                                item['text'] = 'New Organization';
                                                                item['id'] = 9999999;
                                                                tree.create_node(sel, item);
                                                            });

                                                            $("#btnEditTreeNode").click(function (e) {
                                                                var sel = tree.get_selected();
                                                                if (!sel.length) { return false; }
                                                                sel = sel[0];
                                                                tree.edit(sel);
                                                            });

                                                            $("#btnTreeRefresh").click(function (e) {
                                                                tree.refresh();
                                                            });

                                                            $("#btnTreeCollapse").click(function (e) {
                                                                tree.close_all();
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="orgTree1">여기에 트리가 표시됩니다.</div>
                                    </div>
                                    <div class="col-9">
                                        <div class="card h-100">
                                            <div class="card-header" style="padding: 0px;">
                                                <div class="alert-info" id="orgPath">[..]</div>
                                            </div>
                                            <div class="card-body" style="padding: 0px;">
                                                <div id="gridMembers">
                                                    여기에 회원정보 그리드가 표시 됩니다.
                                                </div>
                                            </div>
                                            <div class="card-footer" style="padding: 0px;">
                                                <span id="jstree-node">[..]</span>
                                            </div>
                                        </div>
                                        <script>
                                            // $("#btnSelectTree").on("click", function (e) {
                                            //     // $orgTree.jstree('deselect_all');
                                            //     // $orgTree.jstree('select_node', '3');

                                            //     var tree = $orgTree.jstree(true);
                                            //     tree.deselect_all();
                                            //     tree.select_node('1');
                                            // });

                                            // var tree = $orgTree.jstree(true);
                                            // console.log(tree);


                                            // function createNode() {
                                            //     $tree.jstree("create_node", parentId, data, "last", function (new_node) { $tree.jstree("open_node", $tree.jstree("get_selected")); var inst = $.jstree.reference(new_node); inst.edit(new_node); });
                                            // }


                                            function pagingQuery(querys, data, prefix) {
                                                // console.log('#', prefix, data);
                                                var excludedKeys = ["pageIndex", "pageSize"];
                                                Object.keys(data).forEach(function (name) {
                                                    if (excludedKeys.includes(name)) {

                                                    } else {
                                                        var query = {};
                                                        switch (whatIsIt(data[name])) {
                                                            case 'object':
                                                                pagingQuery(querys, data[name], name);
                                                                break;
                                                            case 'string':
                                                            case 'boolean':
                                                                query['type'] = (prefix == '') ? name : prefix + '.' + name;
                                                                query['value'] = data[name];
                                                                if (query.value != '')
                                                                    querys.push(query);
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                        // console.log('name::' + name, whatIsIt(data[name]), data[name]);
                                                    }
                                                });
                                                return querys;
                                            }

                                            function formatRequestMessage(request) {
                                                // 메지지 기본 골격
                                                var data = {
                                                    "webApi": {
                                                        "paging": {
                                                            "pageIndex": request.pageIndex,
                                                            "lineCount": request.pageSize,
                                                            "querys": {
                                                                "query": [
                                                                    { "type": "org.id", "value": orgId }
                                                                ]
                                                            }
                                                        }
                                                    }
                                                };

                                                // console.log(request);
                                                // var querys = [];
                                                // console.log(pagingQuery(querys, request, ''));


                                                // 필터요청을 위한 구조로 변환
                                                pagingQuery(data.webApi.paging.querys.query, request, '');
                                                return data;
                                            }

                                            var codes = {
                                                member: {
                                                    group: [
                                                        { value: "0", name: "" },
                                                        { value: "30", name: "사용자" },
                                                        { value: "10", name: "관리자" }
                                                    ]
                                                }
                                            };

                                            var orgId, gridMembers = $("#gridMembers").jsGrid({
                                                paging: true,
                                                sorting: true,
                                                filtering: true,
                                                pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                                                // autoload: true, // controller 를 사용할지 여부
                                                fields: [
                                                    { label: "Choice", name: "id", type: "choice", multiChoice: true, width: 20 },
                                                    // { title: "ID", name: "id", type: "number", inserting: false, editing: false, validate: "required", width: 30 },
                                                    { title: "Name", name: "name", type: "text", validate: "required", width: 30 },
                                                    { title: "EMail", name: "email", type: "text", width: 50, filtering: true, editing: true },
                                                    { title: "Org", name: "org.text", type: "text", filtering: true, width: 30 },
                                                    { title: "PositionId", name: "position.id", type: "text", validate: "required", width: 30 },
                                                    { title: "Position", name: "position.name", type: "text", validate: "required", width: 30 },
                                                    { title: "Phone", name: "phone", type: "text", validate: "required", width: 30 },
                                                    { title: "Status", name: "status", type: "text", width: 50, filtering: true },
                                                    { title: "pttId", name: "pttId", type: "text", width: 50, filtering: true },
                                                    { title: "fmcNo", name: "fmcNo", type: "text", width: 50, filtering: true }
                                                    // { title: "lastModifiedOn", name: "lastModifiedOn", type: "datetime", width: 50 },
                                                    // { title: "Enabled", name: "enabled", type: "checkbox", width: 30 }
                                                ],
                                                controller: {
                                                    loadData: function (filter) {

                                                        // console.log(filter);

                                                        return $.ajax({
                                                            type: "POST",
                                                            url: "../api/org-members/paging",
                                                            contentType: 'application/json',
                                                            dataType: 'json',
                                                            data: JSON.stringify(formatRequestMessage(filter)
                                                                // {
                                                                //     "webApi": {
                                                                //         "paging": {
                                                                //             "pageIndex": filter.pageIndex,
                                                                //             "lineCount": filter.pageSize,
                                                                //             "querys": {
                                                                //                 "query": [
                                                                //                     { "type": "org", "value": orgId }
                                                                //                 ]
                                                                //             }
                                                                //         }
                                                                //     }
                                                                // }
                                                            ),
                                                            dataFilter: function (data, type) { // 받은데이터의 포멧을 변경할 수 있음.
                                                                var result = JSON.parse(data);
                                                                var newData = JSON.stringify({
                                                                    itemsCount: result.webApi.totalCnt,
                                                                    data: result.webApi.list
                                                                });
                                                                return newData;
                                                            },
                                                            beforeSend: function (xhr, opts) {
                                                                console.log(opts.data);
                                                                if (false) {
                                                                    xhr.abort();
                                                                }
                                                            },
                                                            success: function (data) {
                                                                //On ajax success do this
                                                                // alert(data);
                                                            },
                                                            error: function (xhr, ajaxOptions, thrownError) {
                                                                //On error do this
                                                                if (xhr.status == 200) {
                                                                    alert(ajaxOptions);
                                                                }
                                                                else {
                                                                    alert(xhr.status);
                                                                    alert(thrownError);
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <pre><code>
function checkCallback(operation,
    node, parent, position, more) {
    console.log(operation, node);
    if (operation === "copy_node"
        || operation === "move_node") {
        if (parent.id === "#") {

            return false; // prevent moving a child above or below the root
        }
    }
    return true; // allow everything else
}

$.jstree.root = "ehuhcmmbpaqhdggp";  // 시작 루트를 지정한다.

var $orgTree = $("#orgTree1").bind("changed.jstree", function (e, data) {
    // console.log(e, data);
    switch (data.action) {
        case 'deselect_all':
            break;
        case 'select_node':
            var path = data.instance.get_path(data.node, '/');
            console.log(path, data.selected);
            break;
    }

    // if (data.selected.length) {
    //     alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
    // }

}).bind('before.jstree', function (e, data) {
    // invoked before jstree starts loading
}).bind('loaded.jstree', function (e, data) {
    // invoked after jstree has loaded
    // $(this).jstree(true).close_all();
    $(this).jstree(true).open_all();
}).jstree({
    core: {
        "check_callback": checkCallback,
        "data": {
            "contentType": "application/json",
            "url": function (node) {
                return "/api/organization";
            },
            "crossDomain": true,
            // "headers": {},
            "method": "POST",
            "dataType": "json",
            "data": function (node) {
                console.log(node);
                var data = { 'id': node.id };
                console.log(data);
                return JSON.stringify(data);
            },
            "dataFilter": function (data, type) {
                // console.log(data);
                var obj = JSON.parse(data);
                return JSON.stringify(obj.data);
            },
            "success": function (data, textStatus, jqXHR) {
                console.log(data);
            },
            "statusCode": {
                404: function () {
                    alert("page not found");
                }
            },
            "error": function (jqHXR, textStatus, errorThrown) {
                console.log(textStatus);
            }
        }
    },
    "types": {
        "#": { "max_children": 5, "max_depth": 3, "valid_children": ["root"] },
        "root": { "icon": "/static/3.3.8/assets/images/tree_icon.png", "valid_children": ["default"] },
        "default": { "valid_children": ["default", "file"] },
        "file": { "icon": "glyphicon glyphicon-file", "valid_children": [] }
    },
    "plugins": [
        "contextmenu",
        // "contextmenu", "dnd", "search",
        // "state", "types", "wholerow"
    ],
    "contextmenu": {
        "items": function ($node) {
            var tree = $orgTree.jstree(true);
            return {
                "Create": {
                    "separator_before": false,
                    "separator_after": true,
                    "label": "Create",
                    "action": false,
                    "submenu": {
                        "File": {
                            "seperator_before": false,
                            "seperator_after": false,
                            "label": "File",
                            action: function (obj) {
                                $node = tree.create_node($node, {
                                    text: 'New File',
                                    type: 'file',
                                    icon: 'glyphicon glyphicon-file'
                                });
                                tree.deselect_all();
                                tree.select_node($node);
                            }
                        },
                        "Folder": {
                            "seperator_before": false,
                            "seperator_after": false,
                            "label": "Folder",
                            action: function (obj) {
                                $node = tree.create_node($node, {
                                    text: 'New Folder',
                                    type: 'default'
                                });
                                tree.deselect_all();
                                tree.select_node($node);
                            }
                        }
                    }
                },
                "Test": {
                    "separator_before": false,
                    "separator_after": false,
                    "label": "Test",
                    "action": function (obj) {
                        $orgTree.jstree('deselect_all');
                    }
                },
                "Rename": {
                    "separator_before": false,
                    "separator_after": false,
                    "label": "Rename",
                    "action": function (obj) {
                        tree.edit($node);
                    }
                },
                "Remove": {
                    "separator_before": false,
                    "separator_after": false,
                    "label": "Remove",
                    "action": function (obj) {
                        tree.delete_node($node);
                    }
                }
            };
        }
    }
});

// $orgTree.on("changed.jstree", function (e, data) {
//     // console.log(e, data);
//     switch (data.action) {
//         case 'deselect_all':
//             break;
//         case 'select_node':
//             console.log(data.selected, data.node);
//             break;
//     }

//     if (data.selected.length) {
//         alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
//     }

// });

$("#btnSelectTree").on("click", function (e) {
    // $orgTree.jstree('deselect_all');
    // $orgTree.jstree('select_node', '3');

    var tree = $orgTree.jstree(true);
    tree.deselect_all();
    tree.select_node('1');
});


// function createNode() {
//     $tree.jstree("create_node", parentId, data, "last", function (new_node) { $tree.jstree("open_node", $tree.jstree("get_selected")); var inst = $.jstree.reference(new_node); inst.edit(new_node); });
// }

// https://www.jstree.com/
$(document).ready(function () {

});
                                </code></pre>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="tt_article_useless_p_margin">

                                    <p><b>(0) 최상위 루트 아이디 지정</b></p>
                                    <pre><code class="javascript hljs">$.jstree.root = "ehuhcmmbpaqhdggp";  // 시작 루트를 지정한다.</code></pre>

                                    <p><b>(1) jstree 전체객체 참조 (여러방법이 있음)</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> _model = $(<span class="hljs-string">"#jstree"</span>).jstree(<span class="hljs-literal">true</span>)._model.data;
    $.each(_model, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">_idx, _idata</span>)</span>{
                <span class="hljs-built_in">console</span>.log( _idata.id);
                <span class="hljs-built_in">console</span>.log( $(<span class="hljs-string">"#"</span>+_idata.id) );
    }
});
<span class="hljs-keyword">var</span> obj = $(<span class="hljs-string">'#jstree'</span>).jstree(<span class="hljs-literal">true</span>).get_json(<span class="hljs-string">'#'</span>, {flat:<span class="hljs-literal">true</span>});
<span class="hljs-keyword">var</span> model = $(<span class="hljs-string">"#allMenuTree"</span>).jstree(<span class="hljs-literal">true</span>)._model.data;
    $.each(model, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">idx, idata</span>)</span>{
        <span class="hljs-built_in">console</span>.log( idata.original );
});
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(2) jstree 전체 닫기 / 열기</b></p>
                                    <pre><code>$("#jstree").jstree("close_all");
$("#jstree").jstree("open_all");</code></pre>

                                    <p><br></p>
                                    <p><b>(3) jstree내 검색</b></p>
                                    <pre><code class="javascript hljs">$(<span class="hljs-string">"#jstree"</span>).jstree(<span class="hljs-string">"search"</span>, searchString);</code></pre>
                                    <p><br></p>
                                    <p><b>(4) jstree 아이디 검색</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> parentId = $(<span class="hljs-string">"#jstree"</span>).jstree().get_node( $node ).id;</code></pre>
                                    <p><b><br></b></p>
                                    <p><b>(5) jstree노드 생성(context메뉴의 생성 사용안하고 별도의 버튼등으로&nbsp;노드생성시)</b></p>
                                    <pre><code class="javascript hljs"> $tree.jstree(<span class="hljs-string">"create_node"</span>, parentId, data, <span class="hljs-string">"last"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">new_node</span>) </span>{
    $tree.jstree(<span class="hljs-string">"open_node"</span>, $tree.jstree(<span class="hljs-string">"get_selected"</span>));
    <span class="hljs-keyword">var</span> inst = $.jstree.reference(new_node);
    inst.edit(new_node);
});</code></pre>
                                    <p><br></p>
                                    <p><b>(6) 가장 첫노드 정보 가져오기</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> firstNode = $(<span class="hljs-string">"#jstree"</span>).jstree().element.context.firstChild;
<span class="hljs-keyword">var</span> firstNodeChildLen =  $(<span class="hljs-string">"#jstree"</span>).jstree().element.context.firstChild.childElementCount;</code></pre>
                                    <p><b><br></b></p>
                                    <p><b>(7) 노드 선택된것처럼 표현</b></p>
                                    <pre><code class="javascript hljs">firstNode.find(<span class="hljs-string">"a"</span>).attr(<span class="hljs-string">'aria-selected'</span>,<span class="hljs-literal">true</span>);
firstNode.find(<span class="hljs-string">"a"</span>).addClass(<span class="hljs-string">'jstree-clicked'</span>);</code></pre>
                                    <p><br></p>
                                    <p><b>(8) 노드선택 해제</b></p>
                                    <pre><code class="javascript hljs">$tree.jstree(<span class="hljs-string">"deselect_all"</span>);
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(9) 특정노드 열기</b></p>
                                    <pre><code class="javascript hljs">$tree.jstree(<span class="hljs-string">"open_node"</span>, nodeId);
                                    </code></pre>
                                    <p><b><br></b></p>
                                    <p><b>(10) 선택한 노드의 부모노드/자식노드 찾기</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> parent =  ( $(<span class="hljs-string">"#jstree"</span>).jstree(<span class="hljs-literal">true</span>).get_node( _this.selectedBrd_Id ) ).parent;
<span class="hljs-keyword">var</span> children = $(<span class="hljs-string">"#jstree"</span>).jstree().get_node(  parentCode ).children;
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(11) jstree에서 삭제</b></p>
                                    <pre><code class="javascript hljs">$(<span class="hljs-string">"#jstree"</span>).jstree().delete_node( $(<span class="hljs-string">"#"</span>+ nodeId) );
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(12) 특정노드값 자동선택되게(클릭된것처럼)</b></p>
                                    <pre><code class="javascript hljs">$tree.jstree(<span class="hljs-string">"toggle_node"</span>, nodeId);</code></pre>
                                    <p><br></p>
                                    <p><b>(13) jstree 선택된 노드갯수 구하기</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> selectedNodeLen = ( $tree2.jstree(<span class="hljs-string">"get_selected"</span>) ).length;
$.each( $tree2.jstree(<span class="hljs-string">"get_selected"</span>) ,<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">i,item</span>)</span>{
    <span class="hljs-keyword">var</span> tObj = $(<span class="hljs-string">"#jstree2"</span>).jstree(<span class="hljs-literal">true</span>).get_node( item );
});
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(14) 특정노드 객체 가져오기</b></p>
                                    <pre><code class="javascript hljs">$(<span class="hljs-string">'#jstree2'</span>).jstree(<span class="hljs-literal">true</span>).get_json(nodeId, {flat:<span class="hljs-literal">true</span>});
$(<span class="hljs-string">"#setAddMenu"</span>).jstree(<span class="hljs-string">"get_node"</span>, node_id);
                                    </code></pre>
                                    <p><b><br></b></p>
                                    <p><b>(15) 특정노드의 text값 가져오기</b></p>
                                    <pre><code class="javascript hljs">$(<span class="hljs-string">"#allMenuTree"</span>).jstree(<span class="hljs-literal">true</span>).get_node(nodeId).text</code></pre>
                                    <p><br></p>
                                    <p><b>(16) jstree 노드 hidden 상태 체크 .state.hidden으로 알 수 있다.</b></p>
                                    <pre><code class="javascript hljs"><span class="hljs-keyword">var</span> obj = $(<span class="hljs-string">"#allMenuTree"</span>).jstree(<span class="hljs-literal">true</span>)._model.data;
$.each(obj[parent].children, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">i, key</span>)</span>{
    <span class="hljs-keyword">var</span> item = obj[key];
    $.each(item.children, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">_i, _key</span>)</span>{
    <span class="hljs-keyword">if</span>( $(<span class="hljs-string">"#allMenuTree"</span>).jstree(<span class="hljs-string">"get_node"</span>, _key).state.hidden){ }
});
                                    </code></pre>
                                    <p><br></p>
                                    <p><b>(17) 풀 경로 가져오기</b></p>
                                    <pre><code>var path = data.instance.get_path(data.node, '/');</code></pre>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer">
                        <!-- <button id="btnSelectTree">
                            <span>(3)아이템 선택</span>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div th:fragment="javascript">

        <script>



            // https://www.jstree.com/
            $(document).ready(function () {

            });
        </script>

    </div>
</body>

</html>