@charset "UTF-8";
@import url("glyphicon.css");
@import url("/webjars/jquery-ui/1.12.1/jquery-ui.min.css");
@import url("/webjars/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css");

body { 
    background-color: white; 
    margin-top: -15px;
}


.navbar {
  background-color: rgb(238, 239, 240);
  color: rgb(252, 121, 117);
  height: 36px;
  border-bottom: 1px rgb(197, 197, 197) solid;
}
.navbar-nav .nav-item {
  /* color: rgb(25, 172, 25); */
  font-size: medium;
}
.navbar-light .navbar-brand,
.navbar-nav .nav-item a.nav-link,
.navbar-nav .nav-item a.nav-link:link,
.navbar-nav .nav-item a.nav-link:visited,
.navbar-nav .nav-item a.nav-link:hover,
.navbar-nav .nav-item a.nav-link:active {
  /* color: white; */
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}
.navbar-nav .nav-item .dropdown-menu {
  font-size: small;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
} 
.navbar-nav .nav-item .dropdown-menu .dropdown-divider {
  margin-top: 6px;
  margin-bottom: 1px;
  padding-top: 3px;
  padding-bottom: 0px;
} 
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: small;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
} 


article {
	/* background-color: white;  */
	padding: 15px;
}
article > .page-path {
  font-size: small;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 3px;
}
article > .page-path .page-current-path {
  color: red;
  font-size: bold;
}

footer.layout {
  margin-top: 15px;
  padding-top: 6px;
  border-top: 3px rgb(216, 215, 215) solid;
}