
.jsgrid {
    font-size: small;
}

.jsgrid-grid-header .jsgrid-header-row>.jsgrid-header-cell,
.jsgrid-grid-header .jsgrid-filter-row>.jsgrid-cell,
.jsgrid-grid-body .jsgrid-row>.jsgrid-cell,
.jsgrid-grid-body .jsgrid-alt-row>.jsgrid-cell,
.jsgrid-pager-container .jsgrid-pager {
    /* background-color: red; */
    padding-top: 2px;
    padding-bottom: 2px;
    /* font-size: small; */
}

.jsgrid-grid-header .jsgrid-header-row>.jsgrid-header-cell {
    /* background-color: red; */
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    font-size: small;
}

.jsgrid-pager-container .jsgrid-pager .jsgrid-pager-nav-button span,
.jsgrid-pager-container .jsgrid-pager .jsgrid-pager-page a {
    font-weight: bold;
    /* border: 1px blue solid; */
    /* width: 60px; */
    color: rgb(206, 106, 106);
}

/* 홀수 열 */
.jsgrid-row .jsgrid-cell {
    background: #ffffff;
    /* border-color: #c4e2ff; */
    align-self: auto;
}

/* 짝수 열 */
.jsgrid-alt-row .jsgrid-cell {
    /* border-color: #c4e2ff; */
    background-color: #fff2f2;
    align-self: auto;
}

/* 마우스가 오버할 경우 */
.jsgrid-selected-row .jsgrid-cell {
    background-color: #d47b7b;
    border-color: #f89d9d;
}

/* selectcheckbox 에서 선택된 */
.jsgrid-is-selected td.jsgrid-cell {
    background-color: #f5b8b8;
    border-color: #f89d9d;
    color: rgb(10, 10, 10);
    font-size: bold;
}

td.jsgrid-cell input,
td.jsgrid-cell select {
    border-radius: 5px;
    border: 1px gray solid;
    padding-top: 1px;
    padding-bottom: 1px;
    /* font-size: x-small; */

}