<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Error</title>
</head>

<body>

    <h1>HTTP 404</h1>

    <h2>Our Engineers are on it</h2>

    <div>
        <sapn th:text="${url}">[...]</sapn>
    </div>
    <div>
        <sapn th:text="${message}">[...]</sapn>
    </div>

    <a th:href="@{/}">Go Home</a>

</body>

</html>