<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Error</title>
    <link th:href="@{/css/bootstrap-custom.min.css}" rel="stylesheet" media="screen" />
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
</head>

<body class="container">

    <div>
        <p></p>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sonething went wrong!</h5>
            <h6 class="card-subtitle mb-2 text-muted">Our Engineers are on it</h6>

            <p class="card-text"><span th:text="${timestamp}">...</span></p>
            <!-- <p><span th:text="${exception}">...</span></p> -->
            <div th:if="${status} == '404'">
                <p class="card-text">The site configured at this address does not contain the requested file.</p>
            </div>
            <div th:if="${status} == '500'">
                500
            </div>

            <!-- 
                <p class="card-text">Failed URL: <span th:text="${path}">...</span></p>
                <p><span th:text="${error}">...</span></p>
                <p class="ui error message"><span th:utext="${message}">Error java.lang.NullPointerException</span></p>
            -->

            <!-- 
                Failed URL: ${path}
                Exception: ${exception.message}
                    <c:forEach items="${exception.stackTrace}" var="ste">    ${ste} 
                </c:forEach>
            -->


            <hr />
            <a href="javascript:history.back(-1);" class="btn btn-sm btn-danger" th:text="#{btn.back}">Go Back</a>
            <a th:href="@{/}" class="btn btn-sm btn-primary" th:text="#{btn.home}">Go Home</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {

        });
    </script>

</body>

</html>