<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout/bootstrap}">

<head>
<title th:text="#{label.menu.about}">Untitled</title>
<style>
table.orgin {
	font-size: x-small;
}

table.orgin th {
	background-color: lightgray;
}
</style>
</head>

<body>
	<article class="container-fluid" layout:fragment="content">
		<div class="page-path row">
			<div class="col">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				Home > <span class="page-current-path" th:text="#{label.menu.about}">Untitled</span>
			</div>
		</div>
		<div class="page-body row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" th:text="#{label.menu.about}">Untitled</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						
						<canvas id="myChart1"></canvas>
						
			
						<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
					</div>
				</div>
			</div>
		</div>
	</article>
	<div th:fragment="javascript">
		<script th:src="@{/webjars/chartjs/2.8.0/Chart.min.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {

			});
		</script>
	</div>
</body>

</html>