<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <div w3-include-html="fragments/head.html"></div>
    <title>KTP-PT</title>
    <!-- <link href="css/signin.css" rel="stylesheet"> -->

    <style>
        body {
            height: 100%;
            background-color: white;
        }
    </style>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/custom/css/floating-labels.css}" rel="stylesheet">
</head>

<body>

    <form class="form-signin" action="index.html">
        <div class="text-center mb-4">
                <img class="mb-4" th:src="@{/images/login-key.png}" alt="" width="72" height="72" />
            <h1 class="h3 mb-3 font-weight-normal">파워톡 3.0</h1>
            <p><code>LTE 네트워크 무전 서비스</code> 관리자입니다. 메일로 받은 비밀번호를 확인하고 입력해 주시기 바랍니다.</p>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword2" class="form-control" placeholder="Password" required>
            <label for="inputPassword2">Re-Password</label>
        </div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">확인</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; POWERTALK 2020</p>
    </form>


    <!-- Optional JavaScript -->
    <script type="text/javascript" th:src="@{/custom/js/global.js}"></script>
</body>

</html>