<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{menu.dashboard}">untitle</title>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span th:text="#{menu.home}">Home</span>&gt;<span
                    class="page-current-path" th:text="#{menu.dashboard}">서비스현황</span>
            </div>
        </div>

        <div class="page-body row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">신규 가입자 현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart1"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">전체 가입자현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart2"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">부가서비스현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart3"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BUNCH 현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart4"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">사업장 현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart5"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">전체 가입자현황</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.</p>
                        <canvas id="myChart6"></canvas>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div th:fragment="javascript">
        <script th:src="@{/webjars/chartjs/2.8.0/Chart.min.js}"></script>
        <script type="text/javascript">

            $(document).ready(function () {

                var ctx1 = document.getElementById('myChart1').getContext('2d');
                var myChart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                // 두번째
                var ctx2 = document.getElementById('myChart2').getContext('2d');
                var chart2 = new Chart(ctx2, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [0, 10, 5, 2, 20, 30, 45]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });

                // 세번째
                var ctx3 = document.getElementById('myChart3').getContext('2d');
                var myDoughnutChart = new Chart(ctx3, {
                    "type": "doughnut",
                    "data": {
                        "labels": ["Red", "Blue", "Yellow"],
                        "datasets": [{
                            "label": "My First Dataset",
                            "data": [300, 50, 100],
                            "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                        }]
                    }
                });

                // 네번째
                var ctx4 = document.getElementById('myChart4').getContext('2d');
                var myLineChart = new Chart(ctx4, {
                    "type": "line",
                    "data": {
                        "labels": ["January", "February", "March", "April", "May", "June", "July"],
                        "datasets": [{
                            "label": "My First Dataset",
                            "data": [65, 59, 80, 81, 56, 55, 40],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1
                        }]
                    },
                    "options": {}
                });

                // 다섯번째
                var ctx5 = document.getElementById('myChart5').getContext('2d');
                var myLineChart = new Chart(ctx5, {
                    "type": "line",
                    "data": {
                        "labels": ["January", "February", "March", "April", "May", "June", "July"],
                        "datasets": [{
                            "label": "My First Dataset",
                            "data": [65, 59, 80, 81, 56, 55, 40],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1
                        }]
                    },
                    "options": {}
                });

                // 여섯번째
                var ctx6 = document.getElementById('myChart6').getContext('2d');
                var myLineChart = new Chart(ctx6, {
                    "type": "line",
                    "data": {
                        "labels": ["January", "February", "March", "April", "May", "June", "July"],
                        "datasets": [{
                            "label": "My First Dataset",
                            "data": [65, 59, 80, 81, 56, 55, 40],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1
                        }]
                    },
                    "options": {}
                });


            });

        </script>
    </div>
</body>

</html>