<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/sign-in.css}" rel="stylesheet" />
</head>

<body th:attr="data-language=${#locale.language}">
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/app/login-process}">
            <h2 class="form-signin-heading" th:text="#{label.sign-in.msg}">Please sign in</h2>
            <div class="alert alert-info">
            	admin/password
            </div>
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible"
                role="alert">
                <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">!!</span>
            </div>
            <p>
                <label for="username" class="sr-only" th:text="#{label.username}">Username</label>
                <input type="text" id="username" name="username" class="form-control" th:placeholder="#{label.username}" required
                    autofocus>
            </p>
            <p>
                <label for="password" class="sr-only" th:text="#{label.password}">Password</label>
                <input type="password" id="password" name="password" class="form-control" th:placeholder="#{label.password}"
                    required>
            </p>
            <p>
				<label for="localeSelect" class="sr-only" th:text="#{label.lang}">Language</label>
				<select id="localeSelect" name="locale" class="form-control" 
					th:value="${#locale.language}"
					th:placeholder="#{label.lang}">
				  <option value="ko" th:text="#{label.lang.ko}">Option 1</option>
				  <option value="en" th:text="#{label.lang.en}">Option 2</option>
				</select>
			</p>
            <input name="_csrf" type="hidden" value="63b7a2b3-99f9-4a49-8433-323739bfdca2" />
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{label.sign-in}">Sign in</button>
        </form>
    </div>
    <script type="text/ecmascript" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/ecmascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script type="text/ecmascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || 'en').substr(0, 2).toLowerCase();
    	lang = $("body").attr("data-language");
    	if (console) console.log(lang);
    	$("#localeSelect").val(lang).attr("selected", true);
    	$("#localeSelect").on("change", function(xhr){
    		var val = $("#localeSelect").val();
    		location.href = '?locale=' + val;
    	});
    	
	});
    </script>
</body>

</html>