<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DEMO</title>
    <link th:href="@{/css/login.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
</head>

<body>

    <form class="form-signin" method="post" th:action="@{/app/login-process}">
        <div class="text-center mb-4">
            <img class="mb-4" th:src="@{/images/login-key.png}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{label.product-name}">파워톡 3.0</h1>
            <p th:text="#{label.product-desc}"><code>LTE 네트워크 무전 서비스</code> 관리자입니다. 비밀번호를 잃어 버리셨다면 <a href="request-change-password.html">비밀번호 재설정</a>
                하시기 바랍니다. 비밀번호 변경화면을 보시려면 <a href="change-password.html">여기</a>를 클릭하세요</p>
        </div>

        <div th:if="${param.error}" class="alert alert-danger alert-dismissible"
                role="alert">
                <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">!!</span>
        </div>

        <div class="form-label-group">
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button class="btn btn-lg btn-secondary btn-block" type="submit">로그인</button>
        <p><a th:href="@{/app/reset-password.html}">비밀번호재발급</a></p>
        <p class="mt-5 mb-3 text-muted text-center">&copy; <span th:text="#{label.copyright}">POWERTALK 2020</span></p>
    </form>

</body>

</html>