<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
	<title th:text="#{menu.profile.my-page}">Untitled</title>
	<style>
		.ui-datepicker-trigger {
			float: right;
			margin-right: 10px;
			margin-top: -25px;
		}
	</style>
</head>

<body>

	<article class="container-fluid" layout:fragment="content">
		<div class="page-path row">
			<div class="col">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				Home > <span class="page-current-path" th:text="#{menu.profile.my-page}">About</span>
			</div>
		</div>
		<div class="card" style="width: 100%;">
			<!-- <img src="..." class="card-img-top" alt="..."> -->
			<div class="card-body">
				<h5 class="card-title" th:text="#{menu.profile.my-page}">내페이지</h5>
				<p class="card-text">Some quick example text to build on the
					card title and make up the bulk of the card's content.</p>
				<div class="mb-3">
					<div class="row no-gutters">
						<div class="col-md-3">

							<img th:src="@{/images/photo1.jpg}" class="card-img" id="myPreview" />

							<input type="file" id="myFile" />

							<span th:text="${#principal}">...</span>
							
							Logged user: <span sec:authentication="name">admin</span>
							<br />
							Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
						</div>
						<div class="col-md-3">
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting
									text below as a natural lead-in to additional content. This
									content is a little bit longer.</p>
								<p th:text="${#locale}">[...]</p>
								<p th:text="${#locale.language}">[...]</p>
								<p class="card-text">
									<small class="text-muted">Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<ul class="list-group">
								<li class="list-group-item">
									<form>
										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="inputEmail4">Email</label> <input type="email"
													class="form-control" id="inputEmail4" placeholder="Email">
											</div>
											<div class="form-group col-md-6">
												<label for="inputPassword4">Password</label> <input type="password"
													class="form-control" id="inputPassword4" placeholder="Password">
											</div>
										</div>
										<div class="form-group">
											<label for="inputAddress">Address</label> <input type="text"
												class="form-control" id="inputAddress" placeholder="1234 Main St">
										</div>
										<div class="form-group">
											<label for="inputAddress2">Address 2</label> <input type="text"
												class="form-control" id="inputAddress2"
												placeholder="Apartment, studio, or floor">
										</div>
										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="inputCity">City</label> <input type="text"
													class="form-control" id="inputCity">
											</div>
											<div class="form-group col-md-4">
												<label for="inputState">State</label> <select id="inputState"
													class="form-control">
													<option selected>Choose...</option>
													<option>...</option>
												</select>
											</div>
											<div class="form-group col-md-2">
												<label for="inputZip">Zip</label> <input type="text"
													class="form-control" id="inputZip">
											</div>
										</div>
										<div class="form-group">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="gridCheck"> <label
													class="form-check-label" for="gridCheck"> Check me out </label>
											</div>
										</div>
										<button type="submit" class="btn btn-primary btn-mini">Sign in</button>
									</form>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<div th:fragment="javascript">

		<script th:src="@{/webjars/chartjs/2.8.0/Chart.min.js}"></script>

		<script type="text/javascript">
			$(document).ready(function () {

				$("#myFile").jsPhoto({
					previewContainer: "#myPreview"
				});

				$(function () {
					$("#inputCity").datepicker({ buttonImageOnly: true });
				});

				$(function () {
					$("#inputAddress").datepicker({ buttonImageOnly: true });
				});

				

			});
		</script>

	</div>
</body>

</html>