<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link th:href="@{/css/login.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>KTP-PT</title>
</head>

<body>

    <form class="form-signin" method="POST">
        <div class="text-center mb-4">
                <img class="mb-4" th:src="@{/images/login-key.png}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{label.product-name}">Product Name</h1>
            <p>이곳은 <strong th:text="#{label.product-name}">Product Name</strong>의 비밀번호 재설정을 진행합니다.
                등록된 이메일로 임시 비밀번호를 받아서 로그인을 하신후 비밀번호를 변경해 주세요.</p>
        </div>

        <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">등록된 이메일을 입력하세요.</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">확인</button>

        <!-- <a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">registration</a> -->
        <a th:href="@{/app/login}" th:text="#{label.sign-in}">login</a>

        <p class="mt-5 mb-3 text-muted text-center">&copy; POWERTALK 2020</p>
    </form>

    <!-- Optional JavaScript -->
    <!-- <script type="text/javascript" th:src="@{/custom/js/global.js}"></script> -->
</body>

</html>