<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>KTP-PT</title>
    <link th:href="@{/css/login.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>

<body>

    <form class="form-signin" method="POST">
        <div class="text-center mb-4">
                <img class="mb-4" th:src="@{/images/login-key.png}" alt="" width="72" height="72" />
            <h1 class="h3 mb-3 font-weight-normal">파워톡 3.0</h1>
            <p><code>LTE 네트워크 무전 서비스</code> 관리자입니다. 메일로 받은 비밀번호를 확인하고 입력해 주시기 바랍니다.</p>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="rePassword" id="inputPassword2" class="form-control" placeholder="Password" required>
            <label for="inputPassword2">Re-Password</label>
        </div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">확인</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; POWERTALK 2020</p>
    </form>


    <!-- Optional JavaScript -->
    <script type="text/javascript" th:src="@{/custom/js/global.js}"></script>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        $(document).ready(function () {

        });
    </script>
</body>

</html>