<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/default}">

<head>
    <title>HOME</title>
    <script th:src="@{/webjars/ag-grid/12.0.2/dist/ag-grid.min.js}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
</head>

<body>
    <div>
        <div>
            <div>
                <article layout:fragment="content">
                    <div class="row">
                        <div class="col">
                            <h5>rg Grid example</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

</body>

</html>