<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{label.menu.examples-datatable}">untitle</title>
    <!-- <link th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}" rel="stylesheet" media="screen" /> -->
    <!-- <link th:href="@{/webjs/datatables/css/responsive.dataTables.min.css}" rel="stylesheet" /> -->
    <link th:href="@{/css/datatables-custom.min.css}" rel="stylesheet" />

    <style>

    </style>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">
        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home > <span class="page-current-path" th:text="#{label.menu.examples-datatable}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{label.menu.examples-datatable}">Untitled</h5>
                        <p class="card-text">With supporting text below as a natural
                            lead-in to additional content.</p>
                        <table class="table table-sm table-striped table-bordered scroll" id="example"
                            style="width:100%;" data-order='[[ 4, "desc" ]]' data-page-length='10'>
                            <thead>
                                <tr>
                                    <th th:text="#{label.no}">번호</th>
                                    <th th:text="#{label.id}">아이디</th>
                                    <th th:text="#{label.username}">성명</th>
                                    <th th:text="#{label.email}">전자메일</th>
                                    <th th:text="#{label.expiresOn}">만료일</th>
                                    <!-- <th>명령</th> -->
                                </tr>
                                <!-- <tr> -->
                                <!-- <th><input type="number" class="form-control form-control-sm" /></th> -->
                                <!-- <th><input type="text" class="form-control form-control-sm" /></th> -->
                                <!-- <th><input type="text" class="form-control form-control-sm" /></th> -->
                                <!-- <th><input type="text" class="form-control form-control-sm" /></th> -->
                                <!-- <th><input type="text" class="form-control form-control-sm" /></th> -->
                                <!-- <th>명령</th> -->
                                <!-- </tr> -->
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div th:fragment="javascript">
        <script th:src="@{/js/datatables-custom.min.js}"></script>

        <!-- <script th:src="@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-buttons/1.6.0/js/dataTables.buttons.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-buttons/1.6.0/js/buttons.html5.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-buttons/1.6.0/js/buttons.print.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/jszip/3.1.0/jszip.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-fixedheader/3.1.4/js/dataTables.fixedHeader.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js}"></script> -->
        <!-- <script th:src="@{/webjars/datatables-responsive/2.2.3/js/responsive.bootstrap4.js}"></script> -->
        <!-- <script th:src="@{/webjs/datatables/jquery.spring-friendly.min.js}"></script> -->

        <script type="text/javascript">

            var table;
            var columns = [
                { data: "id", name: "ID" },
                { data: "username", name: "username" },
                { data: "name", name: "NAME" },
                { data: "email", name: "EMAIL" },
                { data: "expiresOn", name: "EXPIRES_ON" }
                // { render: dfEmpty, sortable: false}
            ];

            $(document).ready(function () {

                // // Setup - add a text input to each footer cell
                // $('#example thead tr').clone(true).appendTo('#example thead');
                // $('#example thead tr:eq(1) th').each(function (i) {
                //     var title = $(this).text();
                //     $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');

                //     $('input', this).on('change', function () {
                //         if (table.column(i).search() !== this.value) {
                //             table
                //                 .column(i)
                //                 .search(this.value)
                //                 .draw();
                //         }
                //     });
                // });

                /**
                 * json
                 */
                table = $('#example').DataTable({
                    "sPaginationType": "full_numbers",
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "datatables.json",
                        "type": "POST",
                        "contentType": "application/json",
                        "dataType": "json",
                        "data": function (data) {
                            // if (console) console.log(JSON.stringify(data))
                            return JSON.stringify(data);
                        },
                        beforeSend: function (xhr, opts) {
                            if (console) console.log(opts, opts.data);
                        }
                    },
                    "columns": columns,
                    buttons: [
                        {
                            text: 'Add Member',
                            className: 'btn btn-sm btn-primary',
                            action: function (e, dt, node, config) {
                                alert('Button activated');
                            }
                        },
                        {
                            className: 'btn btn-sm btn-secondary',
                            extend: 'excelHtml5',
                            autoFilter: true,
                            sheetName: 'Exported data'
                        }
                    ],
                    dom: '<"row"<"col-4"i><"col-4"f><"col-4 text-right"B>><"clear">t<"row"<"col-4"l><"col"p>>',
                    orderCellsTop: true,
                    responsive: true
                });



            });
        </script>

    </div>
</body>

</html>