<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{label.menu.examples-jsgrid}">untitled</title>
    <link th:href="@{/css/jsgrid-custom.min.css}" rel="stylesheet" />
</head>

<body>

    <article class="container-fluid" layout:fragment="content">
        <h5>jsForm Test</h5>
        <div class="row">
            <div class="col col-6">
                <form id="formSignIn">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="inputPassword3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="inputName3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAge3" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="age" id="inputAge3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputState" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <select name="gender" id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option value="F">Famail</option>
                                <option value="M">Mail</option>
                            </select>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                        value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Checkbox</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="check" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" id="btnSignIn">Sign in</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col">
                <textarea class="form-check-input w-100 h-100" id="result"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                <button type="button" class="btn btn-secondary" id="btnSetting">Set Object</button>
                <button type="button" class="btn btn-secondary" id="btnChange">Set Field</button>
                <button type="button" class="btn btn-secondary" id="btnReset">Reset</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-secondary" id="btnSetReadonly">Set readonly</button>
                <button type="button" class="btn btn-secondary" id="btnUnsetReadonly">Unset readonly</button>
                <button type="button" class="btn btn-secondary" id="btnReadonlyField">Set Readonly Field</button>
                <button type="button" class="btn btn-secondary" id="btnUnsetReadonlyField">Unset Readonly Field</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-secondary" id="btnDisabled">All Disabled</button>
                <button type="button" class="btn btn-secondary" id="btnEnabled">All Enabled</button>
                <button type="button" class="btn btn-secondary" id="btnDisabledField">Disabled Field</button>
                <button type="button" class="btn btn-secondary" id="btnEnabledField">Enabled Field</button>
            </div>
        </div>
    </article>
    <div th:fragment="javascript">
        <script type="text/javascript" th:src="@{/js/jsappsoga-form.js}"></script>

        <script>

            var data = { "email": "appsoga@gmail.com", "password": "qlalfdlwlfhd", "name": " 오상목", "age": "48", "gender": "M", "gridRadios": "option2", "check": true };
            // var ff = new jsForm("#formSignIn");
            var ff = $("#formSignIn").jsForm({});
            ff.setObject(data);

            $(document).ready(function () {

                $("#btnSignIn").on("click", function (e) {
                    $("#result").val(JSON.stringify(ff.getObject()));
                });

                $("#btnReset").on("click", function (e) {
                    ff.reset();
                });
                $("#btnClear").on("click", function (e) {
                    ff.clear();
                });
                $("#btnSetting").on("click", function (e) {
                    ff.setObject(data);
                });
                $("#btnChange").on("click", function (e) {
                    ff.setField("email", "osm515@naver.com");
                });
                $("#btnSetReadonly").on("click", function (e) {
                    ff.readonly(true);
                });
                $("#btnUnsetReadonly").on("click", function (e) {
                    ff.readonly(false);
                });

                $("#btnReadonlyField").on("click", function (e) {
                    ff.readonlyField("name", true);
                });
                $("#btnUnsetReadonlyField").on("click", function (e) {
                    ff.readonlyField("name", false);
                });
                $("#btnDisabledField").on("click", function (e) {
                    ff.disabledField("age", true);
                });
                $("#btnEnabledField").on("click", function (e) {
                    ff.disabledField("age", false);
                });
                $("#btnDisabled").on("click", function (e) {
                    ff.disabled(true);
                });
                $("#btnEnabled").on("click", function (e) {
                    ff.disabled(false);
                });

            });
        </script>

    </div>
</body>

</html>