<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{label.menu.examples-jsgrid}">untitled</title>
    <link th:href="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid-theme.min.css}" rel="stylesheet" />
    <style>
        .jsgrid {
            font-size: small;
        }

        .jsgrid,
        .jsgrid-header-row,
        .jsgrid-header-cell,
        .jsgrid-row,
        .jsgrid-alt-row,
        .jsgrid-cell {
            padding: 0px;
        }

        .jsgrid-header-cell,
        .jsgrid-cell {
            padding-left: 3px;
            padding-right: 3px;
        }

        .jsgrid input {
            padding-top: 0px;
            padding-bottom: 0px;
            border-style: groove;
            border-radius: 5px 5px 5px 5px;
        }

        tr.jsgrid-clicked-row td {
            font-weight: bold;
            background-color: green;
        }
    </style>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home > <span class="page-current-path" th:text="#{label.menu.examples-jsgrid}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{label.menu.examples-jsgrid}">Untitled</h5>
                        <p class="card-text">
                            Grid중에서 꽤 쓸만한 녀석이네, 목록요청에 대한 응답은 일반컨트롤러로 작업하고, CRUD는 RESTController로 작업된거 있음 쓰면 된다.
                            괜히 삽질하지 말아라. 넌 이미 삽질을 해 봤다. REST 컨트롤러에서 RequestBody 는 하나 밖에 선언할 수 없다.
                            tTable과 혼용해서 사용하면 편하게 작업할수 있을듯 하다. 그런데 </p>
                        <div id="jsGrid"></div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div th:fragment="javascript">
        <script th:src="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid.min.js}"></script>
        <script type="text/javascript">

            var custFields = [
                // {
                //     headerTemplate: function () {
                //         return $("<button>").attr("type", "button").text("Delete")
                //             .on("click", function () {
                //                 // deleteSelectedItems();
                //             });
                //     },
                //     itemTemplate: function (_, item) {
                //         return $("<input>").attr("type", "checkbox")
                //             .prop("checked", $.inArray(item, selectedItems) > -1)
                //             .on("change", function () {
                //                 $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                //             });
                //     },
                //     align: "center",
                //     width: 50
                // },
                { title: "ID", name: "id", type: "number", inserting: false, editing: false, filtering: true, validate: "required", width: 10 },
                { title: "Username", name: "username", type: "text", filtering: true, width: 20 },
                { title: "Type", name: "type", type: "text", filtering: true, width: 20 },
                { title: "Name", name: "name", type: "text", filtering: true, width: 20 },
                { title: "E-Mail", name: "email", type: "text", filtering: false, width: 40 },
                // { title: "IM", type: "text", filtering: true, width: 40 },
                // { title: "mVoip", type: "text", filtering: true, width: 40 },
                { title: "Enabled", name: "enabled", type: "checkbox", width: 10 },
                {
                    type: "control",
                    editButton: true,                               // show edit button
                    deleteButton: true,                             // show delete button
                    clearFilterButton: true,                        // show clear filter button
                    modeSwitchButton: true,                        // show switching filtering/inserting button

                    align: "center",                                // center content alignment
                    width: 10,                                      // default column width is 50px
                    filtering: false,                               // disable filtering for column
                    inserting: false,                               // disable inserting for column
                    editing: false,                                 // disable editing for column
                    sorting: false,                                 // disable sorting for column

                    searchModeButtonTooltip: "Switch to searching", // tooltip of switching filtering/inserting button in inserting mode
                    insertModeButtonTooltip: "Switch to inserting", // tooltip of switching filtering/inserting button in filtering mode
                    editButtonTooltip: "Edit",                      // tooltip of edit item button
                    deleteButtonTooltip: "Delete",                  // tooltip of delete item button
                    searchButtonTooltip: "Search",                  // tooltip of search button
                    clearFilterButtonTooltip: "Clear filter",       // tooltip of clear filter button
                    insertButtonTooltip: "Insert",                  // tooltip of insert button
                    updateButtonTooltip: "Update",                  // tooltip of update item button
                    cancelEditButtonTooltip: "Cancel edit",         // tooltip of cancel editing button
                }
            ];

            var countries = [
                { Name: "", Id: 0 },
                { Name: "United States", Id: 1 },
                { Name: "Canada", Id: 2 },
                { Name: "United Kingdom", Id: 3 }
            ];


            $(document).ready(function () {

                var jsGrid = $("#jsGrid").jsGrid({
                    width: "100%",
                    height: "410px",

                    paging: true, // 
                    sorting: true,
                    filtering: true,
                    editing: true,
                    inserting: true,
                    pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                    scrolling: true,

                    deleteConfirm: "Do you really want to delete the client?",

                    pageSize: 15,
                    pageButtonCount: 5,
                    pagerFormat: "Total: {itemCount} , Page: {pageIndex} / {pageCount} &nbsp;&nbsp; {first} {prev} {pages} {next} {last}",
                    pagePrevText: '<span class="glyphicon glyphicon-backward"></span>',
                    pageNextText: '<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>',
                    pageFirstText: '<span class="glyphicon glyphicon-fast-backward"></span>',
                    pageLastText: '<span class="glyphicon glyphicon-fast-forward"></span>',

                    // data: clients,
                    autoload: false, // controller 를 사용할지 여부
                    fields: custFields,
                    onDataLoaded: function (o) {
                        // console.log(o.data.itemsCount);
                    },
                    rowClick: function (args) {
                        var item = $(args.event.target).closest("tr");
                        if (this._clicked_row != null) {
                            this._clicked_row.removeClass('jsgrid-clicked-row');
                        }
                        this._clicked_row = item;
                        item.addClass('jsgrid-clicked-row');
                    },
                    rowClass: function (item, itemIndex) {
                        return itemIndex % 2 == 0 ? 'bg-red' : 'bg-green';
                    },
                    controller: {
                        // insertItem: $.noop,
                        // updateItem: $.noop,
                        // deleteItem: $.noop,
                        loadData: function (filter) {
                            // console.log(filter);
                            return $.ajax({
                                type: "GET",
                                url: "jsgrid.json",
                                contentType: 'application/json',
                                dataType: 'json',
                                data: filter
                            });
                        },
                        updateItem: function (item) {
                            // console.log(row);
                            return $.ajax({
                                type: "PUT",
                                url: "../api/members",
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        deleteItem: function (item) {
                            return $.ajax({
                                type: "DELETE",
                                contentType: 'application/json',
                                url: "../api/members/" + item.id,
                                // dataType: 'json',
                                // data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        insertItem: function (item) {
                            return $.ajax({
                                type: "POST",
                                contentType: 'application/json',
                                url: "../api/members",
                                dataType: 'json',
                                data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        }
                    }
                });

                // turn off filtering right after grid initialization
                // $("#jsGrid").jsGrid("option", "filtering", false);

                // function toggleFilter() {
                // $("#jsGrid").jsGrid("option", "filtering", !$("#jsGrid").jsGrid("option", "filtering"));
                // }

                // $("#grid").jsGrid("sort", { field: "id", order: "desc" });
                jsGrid.jsGrid("sort", { field: "id", order: "desc" });

            });
        </script>
    </div>
</body>

</html>