<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">

<head>
    <title th:text="#{label.menu.examples-jsgrid}">untitled</title>
    <!-- <link th:href="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid.min.css}" rel="stylesheet" /> -->
    <!-- <link th:href="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid-theme.min.css}" rel="stylesheet" /> -->
    <link th:href="@{/css/jsgrid-custom.min.css}" rel="stylesheet" />
    <style>
        /* link 타입의 기본 스트일 */
        .jsgrid-cell>a.btn {
            width: 100%;
            height: 23px;
            padding-top: 1px;
            padding-bottom: 1px;
            /* border: 1px rgb(130, 87, 228) solid; */
            font-size: small;
        }

        /* link 타입의 hover */
        .jsgrid-cell>a.btn:hover {
            width: 100%;
            height: 23px;
            padding-top: 1px;
            padding-bottom: 1px;
            border: 1px rgb(206, 187, 248) solid;
            background-color: rgb(8, 106, 192);
            color: rgb(255, 255, 255);
            font-size: small;
        }

        /* 마우스가 오버할 경우 */
        .jsgrid-selected-row .jsgrid-cell {
            background-color: #ffdfdf;
            border-color: #fcf5f5;
        }
    </style>
</head>

<body>

    <article class="container-fluid" layout:fragment="content">

        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp;<span>Home</span> &gt; <span>Examples</span> &gt; <span class="page-current-path"
                    th:text="#{label.menu.examples-jsgrid}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{label.menu.examples-jsgrid}">Untitled</h5>
                        <p class="card-text" id="welcomeMessage">
                            Grid중에서 꽤 쓸만한 녀석이네, 목록요청에 대한 응답은 일반컨트롤러로 작업하고, CRUD는 RESTController로 작업된거 있음 쓰면 된다.
                            괜히 삽질하지 말아라. 넌 이미 삽질을 해 봤다. REST 컨트롤러에서 RequestBody 는 하나 밖에 선언할 수 없다.
                            tTable과 혼용해서 사용하면 편하게 작업할수 있을듯 하다. 그런데 </p>

                        <div class="row">
                            <div class="col-8">

                                <div class="btn-group">
                                    <button class="btn btn-sm btn-danger" id="btnSelectedItems">
                                        선택레코드는?
                                    </button>
                                    <input type="text" id="inputSelectedItems" readonly />
                                    <a class="btn btn-info btn-sm" download="somedata.csv"
                                        href="data:application/csv;charset=utf-8,Col1%2CCol2%2CCol3%0AVal1%2CVal2%2CVal3%0AVal11%2CVal22%2CVal33%0AVal111%2CVal222%2CVal333">ExportCSV2</a>
                                </div>
                                <div id="myGrid1Pager"></div>
                            </div>
                            <div class="col-4 text-right">
                                <div class="btn-group">
                                    <select id="gridPageSizeSelect">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="100000">10,000</option>
                                    </select>
                                    <button class="btn btn-sm btn-primary" id="btnExportCSV">
                                        ExportCSV
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="jsGrid">여기에 그리드가 표시됩니다.</div>
                            </div>
                        </div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div th:fragment="javascript">

        <!-- <script th:src="@{/webjars/jQuery-contextMenu/1.6.5/jquery.contextMenu.js}"></script> -->
        <!-- <script th:src="@{/webjs/jquery-ui/jquery.ui-contextmenu.min.js}"></script> -->
        <!-- <script th:src="@{/webjars/github-com-tabalinas-jsgrid/1.5.3/dist/jsgrid.min.js}"></script> -->
        <script type="text/javascript" th:src="@{/js/jsgrid-custom.js}"></script>
        <!-- <script type="text/javascript" th:src="@{/js/jsgrid-link.js}"></script> -->
        <script type="text/javascript" th:src="@{/js/i18n/jsgrid-fields.ko.js}"></script>
        <script type="text/javascript">

            $(document).ready(function () {

                var jsGrid = $("#jsGrid").jsGrid({
                    width: "100%",
                    height: "410px",

                    paging: true, // 
                    sorting: true,
                    filtering: true,
                    editing: true,
                    // inserting: true,
                    pageLoading: true, // 페이지별로 데이터를 로딩할지 여부
                    scrolling: true,
                    // pagerContainer: "#myGrid1Pager",
                    // data: clients,
                    autoload: true, // controller 를 사용할지 여부
                    fields: jsgridFields.member4example,
                    onDataLoaded: function (o) {
                        // console.log(o.data.itemsCount);

                        $(this).find("tr").each(function (index) {
                            console.log(index);
                        });

                    },
                    rowClass: function (item, itemIndex) {
                        return itemIndex % 2 == 0 ? 'bg-red' : 'bg-green';
                    },
                    rowClick: function (item) {

                    },
                    controller: {
                        // insertItem: $.noop,
                        // updateItem: $.noop,
                        // deleteItem: $.noop,
                        loadData: function (filter) {

                            return $.ajax({
                                type: "POST",
                                // url: "../api/members",
                                url: "../api/members/jsgrid.json",
                                // url: "jsgrid.json",
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(filter),
                                beforeSend: function (xhr, opts) {

                                    // xhr.setRequestHeader("ApiKey", "asdfasxdfasdfasdf");
                                    // xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                                    // var params = getUrlParams(opts.url);
                                    // params.username = 'admin';
                                    // opts.data = params;
                                    // console.log(params);

                                    // filter.username = 'admin';
                                    // console.log(JSON.stringify(filter));
                                    // console.log(filter);

                                    // when validation is false
                                    if (false) {
                                        xhr.abort();
                                    }
                                },
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        updateItem: function (item) {
                            // console.log(row);
                            return $.ajax({
                                type: "PUT",
                                url: "../api/members",
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(item),
                                beforeSend: function (xhr, opts) {
                                    console.log(JSON.stringify(item));
                                },
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        deleteItem: function (item) {
                            return $.ajax({
                                type: "DELETE",
                                contentType: 'application/json',
                                url: "../api/members/" + item.id,
                                // dataType: 'json',
                                // data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        },
                        insertItem: function (item) {
                            return $.ajax({
                                type: "POST",
                                contentType: 'application/json',
                                url: "../api/members",
                                dataType: 'json',
                                data: JSON.stringify(item),
                                success: function (data) {
                                    //On ajax success do this
                                    // alert(data);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //On error do this
                                    if (xhr.status == 200) {
                                        alert(ajaxOptions);
                                    }
                                    else {
                                        alert(xhr.status);
                                        alert(thrownError);
                                    }
                                }
                            });
                        }
                    }
                });

                var myGrid1SelectAll = $("#jsGrid").find("input[class='header-checkbox']");
                $(myGrid1SelectAll).on("change", function (event, args) {
                    var state = $(event.target).prop("checked");
                    if (state)
                        jsGrid.jsGrid("selectAll");
                    else
                        jsGrid.jsGrid("deSelectAll");
                });

                // turn off filtering right after grid initialization
                // $("#jsGrid").jsGrid("option", "filtering", false);

                // function toggleFilter() {
                // $("#jsGrid").jsGrid("option", "filtering", !$("#jsGrid").jsGrid("option", "filtering"));
                // }

                // $("#grid").jsGrid("sort", { field: "id", order: "desc" });
                // jsGrid.jsGrid("sort", { field: "username", order: "asc" });

                $("#btnSelectedItems").on("click", function (args) {
                    var ids = [];
                    var selctedItems = jsGrid.jsGrid("selectedItems");
                    $(selctedItems).each(function (idx, el) {
                        ids.push(el.id);
                    });
                    $("#inputSelectedItems").val(ids);
                });

                // $("#jsGrid").contextmenu({
                //     delegate: ".jsgrid-grid-body .jsgrid-cell",
                //     menu: [
                //         { title: "Copy", cmd: "copy", uiIcon: "ui-icon-copy" },
                //         { title: "----" },
                //         {
                //             title: "More", children: [
                //                 { title: "Sub 1", cmd: "sub1" },
                //                 { title: "Sub 2", cmd: "sub1" }
                //             ]
                //         }
                //     ],
                //     select: function (event, ui) {
                //         console.log("select " + ui.cmd + " on " + ui.target.text());
                //         console.log(event, ui);
                //     }
                // });



            });
        </script>

        <script>

            $(document).ready(function () {

                // 화면에 보여주는 레코드의 갯수를 변경한다.
                var pageSize = $("#jsGrid").jsGrid("option", "pageSize");
                $("#gridPageSizeSelect").val(pageSize);
                $("#gridPageSizeSelect").on("change", function (args) {
                    $("#jsGrid").jsGrid("option", "pageSize", args.target.value);
                });

                // json 형식을 cvs로 변환해 보기
                $("#btnExportCSV").on("click", function () {
                    $("#jsGrid").jsGrid("exportCSV", "text.csv");


                    // var csv = $("#jsGrid").jsGrid("exportData", {
                    //     type: "csv", //Only CSV supported
                    //     subset: "all" | "visible", //Visible will only output the currently displayed page
                    //     delimiter: "|", //If using csv, the character to seperate fields
                    //     includeHeaders: true, //Include header row in output
                    //     encapsulate: true, //Surround each field with qoutation marks; needed for some systems
                    //     newline: "\r\n", //Newline character to use

                    //     //Takes each item and returns true if it should be included in output.
                    //     //Executed only on the records within the given subset above.
                    //     filter: function (item) { return true },

                    //     //Transformations are a way to modify the display value of the output.
                    //     //Provide a key of the field name, and a function that takes the current value.
                    //     transformations: {
                    //         "Married": function (value) {
                    //             if (value === true)
                    //                 return "Yes"
                    //             if (value !== false)
                    //                 return "No"
                    //         }
                    //     }
                    // });



                });

            });
        </script>

    </div>
</body>

</html>