<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/bootstrap}">
<!-- <html lang="ko" ng-app="app" xmlns:th="http://www.thymeleaf.org"> -->

<head>
    <title th:text="#{label.menu.examples-jtable}">HOME</title>
    <!-- 
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet" type="text/css" />
     -->
    <link th:href="@{/webjars/jTable/2.4.0/themes/lightcolor/gray/jtable.min.css}" rel="stylesheet" />
</head>

<body>
    <article class="container-fluid" layout:fragment="content">
        <div class="page-path row">
            <div class="col">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home > <span class="page-current-path" th:text="#{label.menu.examples-jtable}">About</span>
            </div>
        </div>
        <div class="page-body row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{label.menu.examples-jtable}">Untitle</h5>
                        <p class="card-text">jTable은 http 일반요청을 사용하여 통신한다. 따라서 콘트롤을 위한 CRUD를 같이 구현해야 한다.</p>
                        <div id="table1"></div>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div th:fragment="javascript">
        <script th:src="@{/webjars/jTable/2.4.0/jquery.jtable.js}"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                var table1 = $('#table1').jtable({
                    title: 'The Member List',
                    paging: true, //Enable paging
                    pageSize: 10, //Set page size (default: 10)
                    sorting: true, //Enable sorting
                    // defaultSorting: 'id ASC', //Set default sorting
                    // dialogShowEffect: "highlight",
                    // gotoPageArea: "none",
                    selecting: true,
                    selectingCheckboxes: true,
                    multiselect: false,
                    actions: {
                        listAction: 'jtable-list',
                        deleteAction: 'jtable-delete',
                        updateAction: 'jtable-update',
                        createAction: 'jtable-create'
                    },
                    toolbar: {
                        items: [{
                            icon: '/images/pdf.svg',
                            text: 'Export to Excel',
                            click: function () {
                                //perform your custom job...
                                alert('unimplement yet..!');
                            }
                        }, {
                            icon: '/images/pdf.svg',
                            text: 'Export to Pdf',
                            click: function () {
                                //perform your custom job...
                                alert('unimplement yet..!');
                            }
                        }]
                    },
                    fields: {
                        id: { title: 'ID', key: true, create: false, edit: false, list: true },
                        username: { title: 'Username', edit: false, list: true },
                        password: { title: 'User Password', type: 'password', edit: false, list: false },
                        name: { title: 'Name', width: '23%' },
                        email: { title: 'Email address', list: true },
                        enabled: { title: 'Enabled', type: 'checkbox', values: { '0': 'Passive', '1': 'Active' }, list: true },
                        expiresOn: { title: 'Expires On', width: '15%', type: 'date', displayFormat: "yy-mm-dd" },
                        lastAccessedOn: { title: 'Last Accessed On', create: false, edit: false, width: '15%', type: 'date', displayFormat: 'yy-mm-dd' }
                    }
                });

                //Load student list from server
                table1.jtable('load');
            });

        </script>
    </div>

</body>

</html>