<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/default}">
<!-- <html lang="ko" ng-app="app" xmlns:th="http://www.thymeleaf.org"> -->

<head>
    <title>HOME</title>
    <!-- <link th:href="@{/webjars/ui-grid/3.2.5/ui-grid.min.css}" rel="stylesheet" /> -->
    <!-- <style>
        .grid {
            width: 500px;
            height: 250px;
        }
    </style> -->

    <!-- <script th:src="@{/webjars/ui-grid/3.2.5/ui-grid.min.js}"></script> -->
    <script type="text/javascript">

        $(document).ready(function () {

        });

        // angular.module('app', ['ngTouch', 'ui.grid'])
        //     .controller('MainCtrl', MainCtrl);

        // function MainCtrl() {
        //     this.myData = [
        //         {
        //             firstName: "Cox",
        //             lastName: "Carney",
        //             company: "Enormo",
        //             employed: true
        //         },
        //         {
        //             firstName: "Lorraine",
        //             lastName: "Wise",
        //             company: "Comveyer",
        //             employed: false
        //         },
        //         {
        //             firstName: "Nancy",
        //             lastName: "Waters",
        //             company: "Fuelton",
        //             employed: false
        //         }
        //     ];
        // }

    </script>
</head>

<body>
    <div>
        <div>
            <div>
                <article layout:fragment="content">
                    <div class="row">
                        <div class="col">
                            <h5>ui Grid example</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- <div ng-controller="MainCtrl as $ctrl">
                                <div id="grid1" ui-grid="{ data: $ctrl.myData }" class="grid"></div>
                            </div> -->
                        </div>
                    </div>

                </article>
            </div>
        </div>
    </div>

</body>

</html>