
.jsgrid {
    font-size: small;
}

.jsgrid-grid-header .jsgrid-header-row,
.jsgrid-grid-header .jsgrid-filter-row,
.jsgrid-grid-body .jsgrid-edit-row,
.jsgrid-grid-body .jsgrid-alt-row,
.jsgrid-grid-body .jsgrid-row,
.jsgrid-pager-container .jsgrid-pager {
    height: 27px;
}

.jsgrid-grid-header .jsgrid-header-row>.jsgrid-header-cell,
.jsgrid-grid-header .jsgrid-filter-row>.jsgrid-cell,
.jsgrid-grid-body .jsgrid-edit-row>.jsgrid-cell,
.jsgrid-grid-body .jsgrid-alt-row>.jsgrid-cell,
.jsgrid-grid-body .jsgrid-row>.jsgrid-cell,
.jsgrid-pager-container .jsgrid-pager {
    /* background-color: red; */
    padding-top: 0px;
    padding-bottom: 0px;
    height: 25px;
}

.jsgrid-filter-row input, 
.jsgrid-filter-row textarea, 
.jsgrid-filter-row select, 
.jsgrid-edit-row input, 
.jsgrid-edit-row textarea, 
.jsgrid-edit-row select, 
.jsgrid-insert-row input, 
.jsgrid-insert-row textarea, 
.jsgrid-insert-row select {
    width: 100%;
    padding: .3em .5em;

    border-radius: 5px;
    border: 1px rgb(218, 213, 213) solid;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 22px;
}

.jsgrid-cell input.jsgrid-button {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 16px;
}

.jsgrid-pager-container .jsgrid-pager .jsgrid-pager-nav-button span,
.jsgrid-pager-container .jsgrid-pager .jsgrid-pager-page a {
    font-weight: bold;
    /* border: 1px blue solid; */
    /* width: 60px; */
    color: rgb(206, 106, 106);
}

/* 홀수 열 */
.jsgrid-row .jsgrid-cell {
    background: #ffffff;
    /* border-color: #c4e2ff; */
    align-self: auto;
}

/* 짝수 열 */
.jsgrid-alt-row .jsgrid-cell {
    /* border-color: #c4e2ff; */
    background-color: #faf9f9;
    align-self: auto;
}

/* 마우스가 오버할 경우 */
.jsgrid-selected-row .jsgrid-cell {
    background-color: #ffeaea;
    border-color: #fcf5f5;
}

/* selectcheckbox 에서 single 선택된 */
.jsgrid-selected td.jsgrid-cell {
    background-color: #d2f8cd;
    border-color:  #f4fdf3;
    color: rgb(10, 10, 10);
    font-size: bold;
}

/* selectcheckbox 에서 multi 선택된 */
.jsgrid-is-selected td.jsgrid-cell {
    background-color: #fad0d0;
    border-color: #fff4f4;
    color: rgb(10, 10, 10);
    font-size: bold;
}

 /* link 타입의 기본 스트일 */
 .jsgrid-cell>a.btn {
    width: 100%;
    height: 23px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* border: 1px rgb(130, 87, 228) solid; */
    font-size: small;
}

/* link 타입의 hover */
.jsgrid-cell>a.btn:hover {
    width: 100%;
    height: 23px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px rgb(206, 187, 248) solid;
    background-color: rgb(8, 106, 192);
    color: rgb(255, 255, 255);
    font-size: small;
}
