
/* jsappsoga form */

.jsappsoga {
    font-size: small;
}

.jsappsoga .card-body {
  padding: 15px;
}

.jsappsoga .card-body>form {
  padding: 0px;
}

.jsappsoga .card-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}

.jsappsoga .subject {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 5px;
  border-left: 4px rgb(221, 166, 166) solid;
  font-weight: bold;
}

.jsappsoga .row {
  /* padding-left: 7px; */
  margin: 0px;
  margin-bottom: 1px;
}

.jsappsoga label,
.jsappsoga button,
.jsappsoga input,
.jsappsoga select {
  border: 0px;
  border-radius: 3px;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 23px;
  font-size: small;
  white-space: nowrap;
}

.jsappsoga input[type="checkbox"]
.jsappsoga input[type="radio"] { 
  margin-right: 0px;
}

.jsappsoga label.form-check-label {
  padding-left: 0px;
}

.jsappsoga legend,
.jsappsoga .row>label {
  background-color: rgb(243, 237, 235);
  padding-left: 10px;
}

.jsappsoga input,
.jsappsoga select {
  border: 1px rgb(241, 236, 235) solid;
}